[2021-07-22 12:10] aornugent opened #3 "Re-unite Point endpoint with its config"
In the POC we use to be able to send config from the client to the host. This seems to have regressed because the relevant code looks commented out: https://github.com/moja-global/FLINT-UI/blob/14eb10f0a18791250dd2b028d7bd98e0fe7fa7ed/flint.ui/src/components/Cards/CardInfoRun.vue#L164

Please describe the steps needed to recreate this functionality.

[2021-07-22 12:11] aornugent opened #4 "Add a table component"
The RothC example takes in JSON arrays as config. It'd be nice to display these in a table. Here are some examples:

https://tailwindcss.com/docs/table-layout
https://vuematerial.io/components/table

[2021-07-22 12:14] aornugent opened #5 "Use a stepper to simplify multi-step config"
Most configurations will have multiple steps. In RothC this might mean inputting multiple JSON arrays, for GCBM it could be uploading different types of files (input databases, disturbance histories).

We can create short workflows using: https://vuematerial.io/components/steppers

See also the integration with Vue Router to maintain browser history nicely,

[2021-07-22 12:16] aornugent opened #6 "Implement file upload component"
We need to upload multiple files to the FLINT endpoints. Vue Material has a nice file upload component: https://vuematerial.io/components/file/

[2021-07-22 12:24] aornugent opened #7 "Use line graphs to summarise time-series config and results"
Graphs are much easier quickly review than data tables. Taswira demonstrates this well with it's [change graph](https://github.com/moja-global/GCBM.Visualisation_Tool/blob/master/screenshot.png).

These ones look nice and they have a clear example of displaying local and API data: https://vue-chartjs.org/guide/#chart-with-api-data

[2021-07-22 12:28] aornugent opened #8 "Put simulation location on a map"
Most spatially explicit models (Chapman Richards, GCBM) have coordinates. It'd be nice to give users a sense of place when they're running their models. VueLayers looks like a nice framework for this feature.

The very simplest test we can try is to add a Latitude and Longitude to the Point example endpoint and let users choose where their simuation takes place: https://vuelayers.github.io/#/docs/

[2021-07-22 12:37] aornugent opened #9 "Improve application state management to handle multiple jobs"
Currently application state is set in individual components, but this becomes tricky to manage when accessing data across multiple components (e.g. #5).

Soon we will also be adding job management to the GCBM using the Create -> Upload -> Run -> Review workflow, where the configuration and outputs occur in different parts of our application.

Therefore we need an improved state management framewor

[2021-07-22 13:00] aornugent opened #10 "Configure simulation run duration"
All FLINT simulations are temporally explicit (i.e. have a time component). Every run needs to be configured with a start and and end date. Vue Material has a simple date picker component, but it'd be especially helpful if we can also summarise the number of simulation years using moment.js or a similar library - I always recommend using standard logic where dates are concerned 😅

https://vuemater

[2021-07-22 13:14] aornugent opened #11 "Configure GitHub actions for CI and E2E testing"
Now that we've got some basic features down we don't want to lose them (e.g. #3). It'd be nice to have automated end-to-end testing that, at minimum:
1. Builds the `local` containers from the `flint.cloud` sub-module, using the latest FLINT.example image
2. Builds the UI application
3. Confirms the latest endpoints are compatible with the UI application

Any means to further test the UI functional

[2021-07-22 13:25] aornugent opened #13 "Numeric configuration values are not type-safe"
@shubhamkarande13 discovered that JS is lazy and treats floats with no decimal place as integers (i.e. 0.0 = 0). The FLINT does not like this and, worse, uses a mixture of integers and floats in it's configuration.

Currently the solution is to wrap all floats with special characters (`$$`) but this is undocumented and might be difficult to manage as our application grows in complexity. Alternativ

[2021-07-27 21:06] shubhamkarande13 commented on #7
Sadly vue-chartjs does not support Vue 3, which is the version of Vue we are using.

For more info:
https://github.com/apertureless/vue-chartjs#compatibility

[2021-07-28 00:06] #3 closed

[2021-07-28 00:10] shubhamkarande13 commented on #7
[apexcharts](https://apexcharts.com/docs/vue-charts/) could be a good alternative with official Vue3 support. I tried setting up an example chart but it is giving me a blank page.

![image](https://user-images.githubusercontent.com/13800316/127243202-b5f75b28-7633-43b0-a9d1-ddc7a5ad4136.png)

@waridrox and I are still figuring this out.

[2021-07-28 00:16] shubhamkarande13 commented on #6
I tried their demo but it does not seem like it supports drag and drop functionality, as suggested by @mfellows.

We found [vue-upload-component](https://github.com/lian-yue/vue-upload-component) and @waridrox has managed to import it, although some changes are required.

![image](https://user-images.githubusercontent.com/13800316/127243648-88bb11f7-ee0f-4777-b2d1-0905138206e2.png)

[2021-07-28 07:49] aornugent commented on #6
Drag and drop isn't critical for now, but great if you have found a solution. Otherwise fall back to Vue Material and we can use the file browser instead.

[2021-07-28 07:51] aornugent commented on #7
ApexCharts looks like a good alternative - there's also a Vue3 compatible rewrite of VueCharts here: https://github.com/victorgarciaesgi/vue-chart-3

[2021-07-28 07:54] aornugent opened #18 "Refactor Vuex mutations for Point example"
@shubhamkarande13 and I discussed generalising the mutations for the Point example in https://github.com/moja-global/FLINT-UI/pull/17

One solution might be to define a generic function that accepts a pool index (e.g. 1, 2, 3) or a name (e.g. "Pool 3") as well as the value to be set. Then we can call this mutation three times to set each value, rather than having one mutation for each pool.

Goal:

[2021-07-28 07:57] aornugent opened #19 "Write a custom stringify function"
#13 describes a problem saving numeric values as config. Instead of writing code to remove the special characters for each endpoint call, we should write a custom stringify function that handles this for us to replace the default stringify function.

Example here: https://github.com/moja-global/FLINT-UI/blob/master/flint.ui/src/store/index.js#L393-L401

[2021-07-28 07:59] aornugent opened #20 "Send RothC config to endpoint"
We can now edit the RothC config which is fantastic, but it's not yet making it out of the client to the `rothc` endpoint on our backend.

Therefore we need to replicate the logic from the `send_pointConfig` action for RothC. Example at: https://github.com/moja-global/FLINT-UI/blob/master/flint.ui/src/store/index.js#L391

[2021-07-28 08:04] aornugent commented on #9
An additional design consideration is whether to add all endpoint specific state, mutations and actions to `store/index.js` or whether we can refactor this a more logical structure that either:
1. has one module per endpoint (e.g. `store/point.js`, `store/rothc.js`; or
2. has one module for each type (e.g. `actions.js`, `state.js`, `mutations.js`; or
3. both (e.g. `point/state.js`, `point/actions,

[2021-07-28 08:10] aornugent opened #21 "Use StoryBook.js to manage our component library"
As we develop more complex components, like #7 and #8, it'd be great to document how they should be used so that developers are able to customise the client to their FLINT implementation.

StoryBook.js seems offer a powerful way to manage Vue components. Let's see if it's a good match for our project!
https://storybook.js.org/docs/vue/get-started/introduction/

[2021-07-29 02:40] iamrajiv commented on #11
4. Adding GitHub action to visually test the application using Storybook.

[2021-07-29 08:11] aornugent commented on #9
This is a particularly tidy looking design: https://www.smashingmagazine.com/2021/07/tools-practices-speed-up-vuejs-development-process/#organizing-modules

[2021-07-29 10:58] aornugent opened #24 "Reference Vue 2 style guide in README"
The Vue docs are amazing. Let's make sure our UI developers know we follow them by adding a section to our README on coding style and providing a link:

~https://v3.vuejs.org/style-guide/~

EDIT: see comment from @waridrox

[2021-07-29 22:00] #20 closed

[2021-07-30 07:45] waridrox commented on #7
ApexCharts supports Vue 2 as well as Vue 3 so there shouldn't be any problem if we downgrade the app to Vue 2 - https://apexcharts.com/docs/vue-charts/

[2021-07-30 07:49] waridrox commented on #24
We can look into https://vuejs.org/v2/style-guide/ now, since we are migrating back to Vue 2.

[2021-07-30 07:57] aornugent commented on #7
Following the migration we can also evaluate vue-charts 🎯

[2021-07-30 09:43] aornugent commented on #11
Some examples:
https://www.cypress.io/blog/2021/04/06/getting-start-with-cypress-component-testing-vue-2-3/
https://testing-library.com/docs/cypress-testing-library/intro/

[2021-07-31 22:24] #24 closed

[2021-08-01 22:43] aornugent commented on #8
@shubhamkarande13 pointed out that the Point endpoint does not currently have latitude and longitude, so this will need to be added to the Vuex store.

[2021-08-03 10:43] aornugent commented on #11
Here ae

Instructions for deploying Storybook on Chromatic look easy: https://storybook.js.org/tutorials/intro-to-storybook/vue/en/deploy/

[2021-08-07 11:53] #21 closed

[2021-08-08 02:41] aornugent commented on #11
We have enabled our first action with #39 - this simply builds the `flint.ui` container and does not do any further testing. More to come!

[2021-08-08 23:52] waridrox commented on #9
With #35, the states have been refactored into Vuex modules. Info for the same can be found out here - https://vuex.vuejs.org/guide/modules.html

Thus now the directory structure for the states stored in the `store` folder becomes:
[code]

where `index.js` is the parent file where we can import the desired modules from the modules folder and even share the states across different modules if the me

[2021-08-10 00:29] shubhamkarande13 commented on #7
Reopening this issue as the graph support broke due to the state refactor.

[2021-08-12 23:09] iamrajiv opened #47 "Use `yarn` instead of `npm`"
There are several benefits in using `yarn` over `npm`, most notably:

- Yarn strongly binds package versions
- Yarn can install packages from a local cache, not requiring network config
- Yarn installs packages in parallel, greatly improving performance
- Monorepo support (multiple packages) without the requirement for Lerna

[2021-08-12 23:11] iamrajiv commented on #47
Also, we should adopt this across other moja global JavaScript-based projects. This will make everything consistent.
@aornugent @chicken-biryani @shubhamkarande13 @waridrox

[2021-08-13 19:52] #7 closed

[2021-08-13 23:20] shubhamkarande13 commented on #47
@iamrajiv
Can we do this after mine and @waridrox 's LFX term is over? I can't deal with any more breaking changes at the moment.
We are really tired of spending a lot of time on fixing maintenance errors instead of focusing on new features. We have just two weeks left. I really feel guilty of spending two weeks on the graphs, that work should have been done in less than 3-4 days.

 Everything is

[2021-08-13 23:24] shubhamkarande13 opened #48 "Storybook not working"
**Describe the bug**
Storybook doesn't work. Also I don't know why is it in the default docker compose file. We should have a different docker compose file for running Storybook with the FLINT UI.

**To Reproduce**
Steps to reproduce the behavior:

Run `docker-compose up --build` from the FLINT-UI directory.

**Expected behavior**
Storybook should work.

**Screenshots**
Please check the comments.

[2021-08-13 23:38] waridrox commented on #48
Hi @iamrajiv, I think the storybook fails at the `docker-compose up --build cmd`. The build cmd itself takes a lot of time to build the container, (most of the time going into building storybook)

![image](https://user-images.githubusercontent.com/58583793/129427102-8104cb6b-151b-4322-82b3-8496ff63d9f5.png)

[2021-08-13 23:55] waridrox commented on #47
Hi @iamrajiv, I think definitely using yarn instead of npm is a great choice but that would require refactoring the places where npm is being used currently. This might prove to be a blocker for our project since we are currently relying on npm for consistency. Maybe you could try on other repos which are not that active at the moment and come back later here... Thanks

[2021-08-14 00:08] aornugent commented on #48
Thanks for raising this issue!

I don't think we need a separate compose file, but just comment it out for now. This should be a 30sec PR (one change, one commit) so I absolutely recommend fixing issues with the developer experience.

@waridrox can you please do this? Remember to do it off master so that you don't bring any unintended changes from your other branches.

[2021-08-14 00:14] aornugent commented on #47
Good point @waridrox - timing is everything. But remember that issues are not sequential! We can work on multiple things at once.

If moving to `yarn` is a good long term decision, which it sounds like you support, then we can demo it on a separate branch and only merge _when all tests pass and the other team members have reviewed and approved_.

[2021-08-14 00:19] aornugent opened #49 "CI build failing"
#44 uncovered an dependency incompatibility that was not resolved before merge, meaning our CI pipeline does not currently build.

@shubhamkarande13 - can you please post the error message here? Let's try to find a solution!

[2021-08-14 00:23] shubhamkarande13 commented on #49
[Build failed.](https://github.com/moja-global/FLINT-UI/runs/3313912666)

[2021-08-14 00:25] shubhamkarande13 commented on #48
Umm, @aornugent I think normal users won't need to use Storybook? So maybe we could have a different docker compose file specifically for developers?

[2021-08-14 00:34] aornugent commented on #48
I strongly disagree with having two compose files. It is confusing to users and developers.

Let's comment it out until the feature is working correctly. Later we can document our choice to include Storybook and give users the option to enable or disable.

[2021-08-14 00:36] aornugent commented on #49
@waridrox can you please explain how you resolved this so that @shubhamkarande13 knows how to fix it next time?

[2021-08-14 06:28] waridrox commented on #47
Sounds great !! ✨

[2021-08-14 08:43] waridrox commented on #49
The issue I think lies with the `package-lock.json` file, we added that in `.gitignore` which meant there was no way to update the file. Removing that and committing the new `package-lock.json` file resolved this at #50

[2021-08-14 08:47] #49 closed

[2021-08-14 08:49] waridrox commented on #48
The storybook could make more sense once it has been deployed somewhere to like gh-pages, and maybe `docker-compose` could serve storybook for development purposes...

[2021-08-16 13:23] shubhamkarande13 commented on #10
@waridrox Have not you fixed this issue via #46 ?

[2021-08-16 13:25] shubhamkarande13 commented on #8
I think this issue is fixed via #35.
@waridrox your thoughts?

[2021-08-16 13:28] shubhamkarande13 commented on #4
@aornugent Is it okay if we just display the `response` itself in a table format?

[2021-08-16 14:13] waridrox commented on #8
Yes I think this has been addressed but since there is no point coordinates for the simulation runs, we are just storing `lat` and `long` coordinates as states in the app.

[2021-08-16 14:21] waridrox commented on #10
Yes, this has been resolved via material-vue date picker component. Though I am not sure if we require moment.js since the date picker component already has the inbuilt login for leap years etc.

[2021-08-16 21:40] aornugent commented on #10
Awesome @waridrox - did you happen to include this functionality? It'd be nice to have a summary e.g. 'Simulation length = 5.7yrs" displayed to the user.

[2021-08-16 21:41] aornugent commented on #4
That sounds like a good place to start! Ultimately we will want to be consistent with how we display time series data throughout the client.

[2021-08-16 21:51] waridrox commented on #10
Oh! then that would probably require some `moment.js` logic...

[2021-08-17 09:20] waridrox commented on #10
Closed via #58

[2021-08-17 09:20] #10 closed

[2021-08-18 13:03] Sukriti-sood opened #59 "Issue forms for the Issue Templates."
Creating Issue Templates using the Issue forms and replacing the markdown files with YAML files.

[2021-08-20 06:37] #59 closed

[2021-08-20 14:53] waridrox opened #61 "Uploading unsupported mime type files from the browser"
The params for uploading file types in the GCBM runs requires specific file types to be uploaded that are unsupported via the MIME standards in the browser. Some of these are `.db`, `.cfg`, `.conf` etc. Here's the list for the supported file types in the browser - https://www.iana.org/assignments/media-types/media-types.xhtml

This is how the file types are getting referenced in the file uploader

[2021-08-20 15:59] Tlazypanda commented on #61
Hey @waridrox @shubhamkarande13 can you share the entire api call that is being made? The upload requests are made with `Content-Type: multipart/form-data` so can you share the exact error log for the same? Thanks :v:

[2021-08-20 16:20] waridrox commented on #61
Hi @Tlazypanda, the api calls are yet to be made in the `multipart/form-data` part, but before that we would like the user to upload the dataset files as per their requirements from the web browser. Hence the file upload component needs a specific file type to accept the files from the browser...

https://user-images.githubusercontent.com/58583793/130262721-132ebe87-a90b-482f-bf60-0a80cbe28330.mov

[2021-08-20 16:48] Tlazypanda commented on #61
Hey @waridrox I am not sure what change is required on the api end now because if I understand correctly this is on the UI level the file upload component right? If we finally make the api request to multipart/form-data this would be working then :v:

[2021-08-20 17:17] waridrox commented on #61
Yes 💯, that would work on the request to multipart/form-data. It's the browser file upload functionality that needs to be tackled first.

[2021-08-20 23:36] aornugent commented on #61
Oh that's disappointing! How about we proceed with a zip upload while we work towards a minimum viable product but leave this discussion open for further consideration?

This might mean users are not able to edit the config using the UI until we resolve this issue.

[2021-08-20 23:48] shubhamkarande13 commented on #61
@aornugent Don't worry I have found an alternative component that doesn't restrict uploads on file type or mime type.
Tada 🎉! [Dropzone!](https://github.com/rowanwins/vue-dropzone)

![image](https://user-images.githubusercontent.com/13800316/130303097-0ebd0e83-f2e4-4861-aed8-a95e3ccf390d.png)

It looks a bit ugly but can I push the code to this branch till Warid fixes the design when he wakes up (

[2021-08-21 00:11] shubhamkarande13 commented on #61
@aornugent @waridrox @Tlazypanda
Upload works!

![image](https://user-images.githubusercontent.com/13800316/130304014-0f0399f0-4bb3-42dd-89b3-f7c0508a967e.png)

Thank you Sneha for your insights! ✌😄

[2021-08-21 03:51] waridrox commented on #61
Thanks for everyone's insights, the file upload component that was being used proved to be the limitation instead.

Closing this via #64

[2021-08-21 03:51] #61 closed

[2021-08-21 16:39] shubhamkarande13 commented on #4
Fixed via #56.

[2021-08-21 16:39] #4 closed

[2021-08-23 14:42] shubhamkarande13 commented on #5
@waridrox Can we close this issue?

[2021-08-23 17:18] #5 closed

[2021-08-30 05:43] ErrolFernandes commented on #13
check whether this may work
https://mikemcl.github.io/decimal.js/

[2021-08-31 11:51] #6 closed

[2021-09-05 23:46] iamrajiv opened #71 "Publishing Docker images to GitHub container registry using continuous integration (CI) workflow"
## Description

As of now, moja global docker images are put in Docker Hub by different people with their accounts so it's hard to have control over that. Also, there are no Continuous integration workflows set up in the repository so the images are not able to update when there is a new release in the project.

To overcome this problem let's have a consistent platform to put our docker images. I

[2021-09-06 00:48] aornugent commented on #71
Tagging @HarshCasper @Tonnix - this approach seems general and can be integrated across all repos.

@Tonnix - can you please review and see if this is compatible with your PR on FLINT.Docker? I'd love to get all moja global images consolidated and updated in one place.

[2021-09-06 06:37] Tonnix commented on #71
Hi @aornugent, @iamrajiv, @HarshCasper  ,

Overall, I like the idea, and yes, it carries my PR a step further.

A single authoritative repository for FLINT Images Build Source Repository is something I've been rooting for for a while.
It will eliminate redundancies and ensure that the Docker images are up to speed with the current development.

What is not clear at this point (or I'm not seeing at

[2021-09-11 01:24] #47 closed

[2021-09-14 11:16] HarshCasper opened #75 "Documentation: Update Installation Doc on Sphinx"
### What is the current documentation state?

Currently, there is no installation documentation on the Sphinx website.

### Where is this stated?

We can have an `installation.rst` file and link it to the `index.rst` to have it centrally on the website.

### Why do you want to improve the statement?

_No response_

### Proposed Statement

We can just copy the instructions on the README.md file and

[2021-09-15 01:47] #9 closed

[2021-09-15 06:15] aornugent commented on #75
Hey @HarshCasper - there seems to be something wrong with this message:

[2021-09-20 02:39] iamrajiv commented on #75
@aornugent Above issue i.e. @{{ github.actor }} has been fixed in #77.

[2021-09-26 17:40] #75 closed

[2021-10-04 20:36] chicken-biryani opened #82 "Restructure the README."
**To do:** Update the [README](https://github.com/moja-global/FLINT-UI/blob/master/README.md) file.

In order to work on this issue:

1) Claim this issue: Comment below to claim this issue.

2) You can go through this [tutorial](https://app.egghead.io/playlists/how-to-contribute-to-an-open-source-project-on-github) if you aren't familiar with working around with Github.

3) **Restructure the [READ

[2021-10-04 20:53] soil-droid commented on #82
can i work on this?

[2021-10-04 20:53] raffaelecalza commented on #82
Hi 👋 , can I work on this for the hacktoberfest? Or is there someone already working on?

[2021-10-04 20:56] chicken-biryani commented on #82
Hey, @soil-droid sure go ahead!

@raffaelecalza That was a really close call! But don't worry there are more issues coming up!

[2021-10-04 21:22] chicken-biryani commented on #82
Hey, @raffaelecalza sure! Go ahead!

[2021-10-04 21:28] raffaelecalza commented on #82
Ok, I'll work on it tomorrow. Thank you

[2021-10-05 05:47] chicken-biryani opened #84 "Improve developer notes."
The current notes assume that a person willing to contribute is experienced.

This issue aims at:
1) Shifting contents of Developer Notes to a file and referencing it in the README.
2) Making the developer notes beginner-friendly so that even a person who isn't as experienced finds it easy to contribute.

[2021-10-05 20:12] raffaelecalza commented on #82
Hi @chicken-biryani , I'm working on the README. I've got one little question: should I change also the text or should I only move the text in the correct position following the structure you suggested?

[2021-10-05 20:16] chicken-biryani commented on #82
Hey @raffaelecalza ,

For now just correct the position.

You could open a seperate Issue with proposed changes you'd like to see and After that a seperate pull request for the proposed changes. Does that sound okay?

[2021-10-05 21:10] raffaelecalza commented on #82
Hi @chicken-biryani I've opened a PR (#85). Let me know if there is any problem

[2021-10-06 01:47] #18 closed

[2021-10-06 13:49] #82 closed

[2021-10-06 16:05] chicken-biryani opened #88 "Modify the 'Developer's notes' in the Readme."
Reason for this issue: The developer Notes have been listed in multiple places and make the README heavy. This may make the README light weighted.

**To do:** Update the [README](https://github.com/moja-global/FLINT-UI/blob/master/README.md) file.

To work on this issue:

1) Claim this issue: Comment below to claim this issue.

2) You can go through this [tutorial](https://app.egghead.io/playlists

[2021-10-06 18:19] #88 closed

[2021-10-07 20:00] shubhamkarande13 opened #90 "Bug: Point & RothC output tables don't load initially"
**The bug:** After running the Point or RothC simlation, the Point & RothC output tables do not load in the first time. We need to go to some other page (for example: the Dashboard) and then come back to Output tables, and then the table loads.

**Expected behavior:** The table should load up in the first try itself.

https://user-images.githubusercontent.com/13800316/136453629-c33fee04-8fb5-493c-

[2021-10-08 01:50] #13 closed

[2021-10-08 11:13] #90 closed, assigned to nobody

[2021-10-11 23:09] iamrajiv opened #93 "Format the date column of Point and RothC output table more clearly"
## Description

Currently, the date column of the Point and RothC output table is not formatted clearly.

Related: #91

#### Point Output Table

![Screenshot 2021-10-12 at 4 00 41 AM](https://user-images.githubusercontent.com/42106787/136865504-991d244d-b8b6-4e76-98ae-05c99b83f659.jpg)

#### RothC Output Table

![Screenshot 2021-10-12 at 3 56 27 AM](https://user-images.githubusercontent.com/421067

[2021-10-11 23:12] iamrajiv opened #94 "Add a component to increase or decrease the Point & Rothc table precision value dynamically"
## Description

Currently, the table precision value of Point & Rothc is fixed i.e. `toPrecision(5)`. We have to add a component to increase or decrease the table precision value dynamically.

Related: #91 #93

[2021-10-12 10:30] aornugent opened #95 "User Feedback: better labels for RothC"
### Describe what you are trying to do and why it is not optimal.

We have some early documentation for RothC here, with a link to a more comprehensive user guide. We should improve the documentation of the model and improve it's presentation in our UI.

This can be achieved by adding correct labels for UI components related to the presentation, input or review of different datasets and carbon poo

[2021-10-16 01:51] #11 closed

[2021-10-18 10:32] chicken-biryani opened #98 "Fix the 'Table of contents' section in the README."
**The current 'Table of contents'  section doesn't match and link correctly with the contents of the README.**

To do:

1) Claim this issue: Comment below to claim this issue.

2) You can go through this [tutorial](https://app.egghead.io/playlists/how-to-contribute-to-an-open-source-project-on-github) if you aren't familiar with working around with Github.

3) **Fix the 'Table of contents' section

[2021-10-21 12:20] chicken-biryani commented on #98
Hey @Rishabhraghwendra18, if you need any help feel free to reach out... and keep us updated as well. Thankyou!

[2021-10-24 15:16] Amishakumari544 opened #100 "Bug: Configuration is not running properly."
### Describe the bug.

Configuration is not running properly.
Date / Time is also not formatte
![Screenshot](https://user-images.githubusercontent.com/49230384/138599250-70b6840a-e93c-42ae-9e16-800d269a5982.png)

![visualize](https://user-images.githubusercontent.com/49230384/138599273-6d3b51bb-601e-4da9-97ad-da2e6e5a3230.png)

### Describe the steps to reproduce the behavior.

_No response_

###

[2021-10-26 06:53] chicken-biryani opened #101 "Building the landing page."
The current page looks like this:

![image](https://user-images.githubusercontent.com/41121520/138823804-5da3be05-816c-4a44-91d4-a6222ba31adc.png)

What are we aiming at:

![image](https://user-images.githubusercontent.com/41121520/138823964-0c76466c-6536-4c1a-97fa-2459ac7aafe0.png)

[2021-10-30 17:34] #98 closed

[2021-11-05 15:51] garvitraj commented on #101
Hi @chicken-biryani and @shubhamkarande13 is there any way I can contribute as a UX/UI for this open-source project as I m on a mission to make UI/UX also open source and improvise the project lookout and experience as an open-source contributor for UX/UI domain. If there is any scope for me in this great organization do let me know. It Would be a pleasure for me to work for the same.
Given my sho

[2021-11-05 18:01] chicken-biryani commented on #101
Hey,

@garvitraj that's a really great portfolio. Great work.

Currently, we have a person, Vikrant, giving us suggestions on how to develop the UI/UX of the FLINT-UI. So I am not sure if too many inputs at a time would be a good move.

But we are open to comments and suggestions from your end.

Nonetheless, we do have two projects at moja global dealing with front-end currently:
1) FLINT-UI (This

[2021-11-08 06:46] garvitraj commented on #101
@chicken-biryani and @HarshCasper thanx for the consideration will surely give my best input on the community website.
Just do let me know how should I start.
Should I find the UI/UX bugs and improvise the design and feel of the website.?
Or anything other than that I can go with. Pls do guide me accordingly

[2021-11-08 06:58] garvitraj commented on #101
@chicken-biryani can you help me in joining the slack channel as its asking for the custom email address.
and I don't have that mojaglobal and mullion grp extension email how can I proceed

[2021-11-08 07:42] chicken-biryani commented on #101
@garvitraj kindly make use of [this link.](https://t.co/tc684LtWj3?amp=1)

[2021-11-08 11:48] garvitraj commented on #101
@chicken-biryani thanks for the guiding will start my work from today
I have figured few UI bugs and a few points that can be improved to provide a seamless experience
Will provide the improvement by tomorrow
Thanks again for making me part of this team

[2021-11-09 08:47] yashsehgal commented on #101
Hey all, this updates seems to be a group task, if possible can I join you all? :D
I would love to help you with the UI development/updating part.

[2021-11-09 16:53] chicken-biryani commented on #101
Hey, @yashsehgal Definitely!
Currently, we are creating the base for the landing page, post which I am sure there will be a bunch of good first issues/beginner-friendly issues you can take up.

[2021-11-10 09:20] yashsehgal commented on #101
Oh thanks @chicken-biryani
Do let me know if you need any help

[2021-11-12 11:37] chicken-biryani opened #105 "Remove the Sidebar"
Currently, we are motivated to restructure the FLINT-UI.
This issue is a piece of the puzzle.

**Todo**:

**Comment out/Remove the Sidebar from the UI.**

![image](https://user-images.githubusercontent.com/41121520/141460107-5e6e5ce8-0955-4a56-a960-c45f7472333f.png)

[2021-11-12 13:45] himanshu007-creator commented on #105
Hi , i would like to work on this issue.

[2021-11-12 14:28] chicken-biryani commented on #105
@himanshu007-creator sure go ahead!

[2021-11-12 23:12] #101 closed

[2021-11-12 23:17] iamrajiv opened #108 "CI for FLINT UI is failing"
## Description

https://github.com/moja-global/FLINT-UI/runs/4195426080?check_suite_focus=true

## References

https://github.com/webpack/webpack/issues/14532

[2021-11-14 16:48] sohamsshah opened #109 "Add Moja Global Logo on the Landing Page Navbar"
### Is your feature request related to a problem? Please describe.

Currently, the landing page looks like this:
![image](https://user-images.githubusercontent.com/47717492/141689959-ba96e257-f3e8-41af-87bf-d9c9334f2fb4.png)

We want to replace brand-text in the navbar with `moja-global` logo.

### Describe the solution you'd like.

Add the Logo in the navbar.

### Describe alternatives you've con

[2021-11-14 17:11] sohamsshah opened #110 "Create `Range Slider` Component"
### Is your feature request related to a problem? Please describe.

According to the new design update, we are aiming to develop an updated version for Slider Component.
Currently our slider component looks something like:

![image](https://user-images.githubusercontent.com/47717492/141690843-86766ec3-252c-4a0a-964a-1a584a0cc8eb.png)

### Describe the solution you'd like.

We want to create new co

[2021-11-14 17:26] sohamsshah opened #111 "Create `Button` Component"
### Is your feature request related to a problem? Please describe.

As per the new design updates, we want to update our Button Component across the project.

### Describe the solution you'd like.

We want a new Button Component which is like:
Normal State:
![image](https://user-images.githubusercontent.com/47717492/141691158-0fcc3d3d-4c0e-4af9-99a2-995118e4a7fd.png)

Hover State:
![image](https:/

[2021-11-14 17:40] sohamsshah opened #112 "Create `Date Picker` Component"
### Is your feature request related to a problem? Please describe.

Currently, the date-picker component looks like:
![image](https://user-images.githubusercontent.com/47717492/141691869-91665754-4747-4e45-b8a5-8b0cd49bb3f4.png)

### Describe the solution you'd like.

We are aiming for this component design as per latest design update for flint.ui
![image](https://user-images.githubusercontent.com

[2021-11-14 18:08] sohamsshah opened #113 "Create `Accordion` Component"
### Is your feature request related to a problem? Please describe.

As per new design, Accordion component is included at multiple places. In general, accordion component is a component that has title text, and on clicking the button; it can be expanded where some descriptive text can be seen. Can refer to different design libraries like chakra/bootstrap etc. for its implementation (props, etc.) e

[2021-11-15 01:29] ZaidKhan144 commented on #111
Hey, I would like to do this, could you assign me, please.

[2021-11-15 07:13] Dangpham0305 commented on #112
assign me. I think i can help you

[2021-11-15 07:59] chicken-biryani commented on #111
@ZaidKhan144 sure go ahead!

[2021-11-15 08:00] chicken-biryani commented on #112
@Dangpham0305 sure go ahead!

[2021-11-15 12:08] Amishakumari544 commented on #113
I want to work on this.

[2021-11-15 13:22] chicken-biryani commented on #113
@Amishakumari544 sure! Go ahead!

[2021-11-15 13:43] anjali1102 commented on #110
Kindly assign me

[2021-11-15 13:43] chicken-biryani commented on #110
Go ahead, @anjali1102 !

[2021-11-15 14:29] Marob-nod commented on #110
Hi ! Is this issue already assigned ? Or can i work on it ?

[2021-11-15 14:34] Marob-nod commented on #109
Hi ! I would be happy to work on it !

[2021-11-15 14:45] chicken-biryani commented on #109
Hey, @Marob-nod go ahead!

[2021-11-15 14:51] Marob-nod commented on #109
I realized I dont't have the good stack for this project :/

[2021-11-15 15:57] ZaidKhan144 commented on #111
@chicken-biryani When I was trying to set up the `docker-compose.yml` file by the command `docker-compose up`.

I was running into this error
`failed to solve: rpc error: code = Unknown desc = executor failed running [/bin/sh -c yarn run build]: exit code: 1`

Could you possibly know what this could be?

Please let me know if you need any more information.

[2021-11-15 16:12] chicken-biryani commented on #111
cc: @sohamsshah @waridrox @iamrajiv

[2021-11-15 16:13] chicken-biryani commented on #109
@Marob-nod oh alright. Would you be okay if someone else works on it?

[2021-11-16 05:19] sohamsshah commented on #111
I would say, you can `cd flint.ui` and then
`yarn
yarn serve`

This should `localhost:8000`

[2021-11-16 09:56] chicken-biryani commented on #111
@ZaidKhan144 I hope that helps. If not feel free to reach out.

[2021-11-16 16:14] ZaidKhan144 commented on #111
Where would you like to have its styles in the same file?

[2021-11-16 16:16] sohamsshah commented on #111
It would be better if we have [scoped](https://vue-loader.vuejs.org/guide/scoped-css.html) styles for each vue component.

[2021-11-16 16:19] ZaidKhan144 commented on #111
@sohamsshah Sweet!

[2021-11-16 20:49] ZaidKhan144 commented on #111
Could you provide me with the styles for the button?

[2021-11-17 13:55] chicken-biryani commented on #111
@ZaidKhan144 I am assuming you're okay with Figma.

Make use of this link - https://www.figma.com/file/JXB1KKGWxD2dLR7dx2hqWS/Flint-UI?node-id=3%3A2
Let us know if it helps.

[2021-11-17 14:58] ZaidKhan144 commented on #111
@chicken-biryani oh yeah, totally. Thank you!

[2021-11-19 13:37] Sukriti-sood commented on #109
May I go ahead?

[2021-11-19 18:57] chicken-biryani commented on #109
Hey @Sukriti-sood definitely!

[2021-11-20 08:01] iamrajiv opened #116 "Create footer in landing page"
## Description

As of now, we don't have a footer on the landing page. We can take reference from https://moja.global/ site.

![Screenshot 2021-11-20 at 1 27 42 PM](https://user-images.githubusercontent.com/42106787/142719094-255b56e1-520b-4d20-b8d0-5cc357e204e7.jpg)

[2021-11-20 09:39] Sukriti-sood commented on #108
trying to solve...

[2021-11-20 09:54] anjali1102 commented on #116
hey @iamrajiv Can I work on this issue

[2021-11-20 10:12] #109 closed

[2021-11-20 10:22] chicken-biryani commented on #116
@anjali1102 go ahead!

[2021-11-20 12:24] #84 closed

[2021-11-21 03:01] #108 closed

[2021-11-21 13:09] anjali1102 commented on #116
Hey @iamrajiv can you share repo of https://moja.global/ as I only found community website repo

[2021-11-21 15:37] anjali1102 commented on #116
I need help  regarding the vue.js code

src (folder)
    components (folder)
         Footer (folder)
             Footer.vue (file)

But on localhost   it's not showing footer nor any error
vue.js file  https://codeshare.io/YL7jXn

[2021-11-21 15:41] anjali1102 commented on #116
App.vue
![App_vue](https://user-images.githubusercontent.com/56559378/142768653-9c7855a9-a4ef-4fc3-9568-25d4c116401b.jpg)

main.js file

https://codeshare.io/eVwqbL

[2021-11-21 19:17] sohamsshah commented on #116
Basically, we need to create a footer component under `components` folder. Then in `LandingPage.vue` component, we need to add the component. It is at `FLINT-UI\flint.ui\src\views\Landing.vue`. Moreover, make sure to use `tailwindcss` classes ONLY for it.

[2021-11-22 09:30] #111 closed

[2021-11-22 13:32] anjali1102 commented on #116
![moja-global-added-footer](https://user-images.githubusercontent.com/56559378/142870379-dd229eca-1b2d-4804-aeb4-de1a9e5c735e.PNG)

Done ✅

[2021-11-22 13:39] anjali1102 commented on #116
![moja-global](https://user-images.githubusercontent.com/56559378/142870621-4d09081f-a762-4104-90f5-02a76fdf9b72.PNG)
THen it started showing this, so i did **npm install --save mdbvue** after seeing error on web. but life is hard.
Landing.vue https://codeshare.io/YL7Nrn

[2021-11-22 13:47] anjali1102 commented on #116
@sohamsshah Please see once

[2021-11-22 15:48] sohamsshah commented on #116
Hey @anjali1102 , as mentioned in the issue itself, we want to use *only* tailwindcss and slowly we want to completely migrate from *mdbvue* to ensure consistency with web design. So I would encourage you to use only tailwindcss classes (like how the Navbar and other sections of Landing Page are made) for creating Footer. (and remove extra dependency in case if added in package.json) Let me know i

[2021-11-28 01:46] #19 closed

[2021-11-28 01:46] #8 closed

[2021-11-28 08:37] iamrajiv opened #118 "Connect GCP with FLINT UI for GCM sample runs"
I am trying sample GCBM runs locally. I have hosted `FLINT.Cloud` on GCP using Terraform script and got ingress URL as this `https://fc-ingress-4gtzbngbgq-uc.a.run.app/`. So now in FLINT-UI (Vue app) we are using the docker container of GCBM to run the simulations with `http://localhost:8081/` URL. So I replaced `http://localhost:8081/` to `https://fc-ingress-4gtzbngbgq-uc.a.run.app/` all over the

[2021-11-28 08:58] #100 closed

[2021-11-29 10:09] Simpleshell3 commented on #118
Hello @iamrajiv. Can you send a screenshot or error log of the problem.

[2021-11-29 12:20] iamrajiv commented on #118
Hi @Simpleshell3 when I try to create new simulation its saying this

[code]

[2021-11-30 07:49] Simpleshell3 commented on #118
hello @iamrajiv , sorry it's taking some time to address your problem. I wanted to replicate your error by setting up GCP but my card is not supported so it's a little slow.
 However in the meantime, what I understand is you are doing an XMLHttpRequest to GCP. So the browser is blocking it as it usually allows a request in the same origin for security reasons. You need to do something different wh

[2021-12-01 10:16] HarshCasper opened #120 "Feature Request: Integrate Hadolint for Docker linting"
### Is your feature request related to a problem? Please describe.

Hadolint is a tool for linting Dockerfiles. To know more about it, visit here: https://github.com/hadolint/hadolint

We would like to integrate Dockerfile linting as part of our CI pipeline to discover static issues and resolve them.

### Describe the solution you'd like.

Use the Hadolint action, referenced here: https://github.c

[2021-12-01 11:52] asmijafar20 commented on #120
I would like to work on this.

[2021-12-03 18:13] HarshCasper commented on #120
Fixed in #122

[2021-12-03 18:13] #120 closed

[2021-12-03 18:18] HarshCasper opened #123 "Feature Request: Create core E2E for the FLINT-UI project"
### Is your feature request related to a problem? Please describe.

As of now, the project lacks any core E2E testing. We would need a consistent E2E testing strategy to test our features over CI before rolling it out in the production.

### Describe the solution you'd like.

We would like it to use [Cypress](https://cypress.io/). The contributor who is planning on doing it should plan the core fe

[2021-12-04 12:06] sohamsshah commented on #110
Hey @anjali1102 , Do you have any progress on this? If timing is bad for you, maybe I should un-assign you so someone else can take this?

[2021-12-04 12:07] sohamsshah commented on #113
Hey @Amishakumari544  , Do you have any progress on this? Please let us know if you need any more insights upon this.

[2021-12-04 12:07] sohamsshah commented on #112
Hey @Dangpham0305 , any updates on this? If timing is bad for you, maybe I should un-assign you so someone else can take this?

[2021-12-04 13:17] iamrajiv commented on #118
I and @Simpleshell3 debugged the CORS problem. We debug CORS by disabling CORS in the browser but still, it is not working.

I guess the problem is related to CORS but the code like I have replaced all GCBM local URL to ingress URL so `new simulation` is working fine and endpoints are hit I was able to see the API graph in the GCP dashboard but in the second step i.e. `Select a simulation` from th

[2021-12-04 13:19] sohamsshah commented on #123
Hey @HarshCasper , I would like to take this up. Can you please assign me?

[2021-12-04 17:03] #105 closed

[2021-12-05 05:23] Amishakumari544 commented on #113
hey @sohamsshah  sorry for the inconvenience my hand got fractured a little bit that's why I haven't updated here anything. I will do it by today only.

[2021-12-05 07:22] anjali1102 commented on #110
Hey @sohamsshah  sorry for being late, i'll surely finish it by today

[2021-12-05 12:56] anjali1102 commented on #110
hi @sohamsshah
I did these changes
![1](https://user-images.githubusercontent.com/56559378/144747395-7f773fa7-4c0a-4f09-8365-09ded8e7bedb.PNG)
![2](https://user-images.githubusercontent.com/56559378/144747398-430b3b56-a5ad-40f9-a1ed-d813a490d602.PNG)

I am unable to see any changes on my localhost or http://127.0.0.1:8000/flint/configurations/point

I set up  by following Development notes in read

[2021-12-06 17:18] vedant-kakde opened #125 "DOCS: Document the process for deploying FLINT-UI on a free-tier EC2"
This process involves few basic steps:

- Writing scripts to setup necessary tooling on a fresh instance (Docker, Compose, Git and more)
- Setup FLINT-UI on the instance by following all the steps outlined on README
- Expose the running application publicly to run basic workloads
- Have a nice CI/CD setup to pull latest changes from GitHub, build the Docker container once again

[2021-12-06 17:19] HarshCasper commented on #125
cc: @aornugent @iamrajiv

[2021-12-07 14:11] yashsehgal commented on #112
Hey @chicken-biryani @sohamsshah I would like to work on this issue. Can you please assign this to me 😄

[2021-12-07 14:15] chicken-biryani commented on #112
Yes, @yashsehgal go ahead

[2021-12-09 06:05] yashsehgal commented on #112
Hey, Can I add a prop for providing width to the date-picker component. Like

[code]
[code]
[code]

[2021-12-09 06:08] sohamsshah commented on #112
Yes, this looks good. Will add flexibility for building the diff frontend in future!

[2021-12-09 12:22] aornugent commented on #125
Thanks @vedant-kakde. Please note that you also need to spin up an instance of [FLINTcloud](https://github.com/moja-global/flint.cloud/). We've had some trouble getting our client to communicate with remote instances (see: #118) so would love to know if you manage to resolve this issue by deploying both in the same cloud.

[2021-12-10 17:05] chicken-biryani opened #128 "GCBM workflow and wireframe"
### **The core steps of the GCBM workflow**

This issue helps to keep everyone on the same page about what parts of the Flint UI-GCBM we are currently planning on improving/developing.

### Please note that:
1) FLINT-UI is a community-driven project and all contributions towards improving the FLINT-UI are welcome.
2) If you feel stuck, chat with us on Slack.
3) The document linked below is updated

[2021-12-12 06:00] #113 closed

[2021-12-15 16:03] #112 closed

[2021-12-15 16:03] sohamsshah commented on #110
Hi @anjali1102 , are you working on this? If it is not a good time for you at the moment, please feel free to let us know 😊

[2021-12-16 05:14] yashsehgal commented on #110
Hey @chicken-biryani @sohamsshah I would like to work on this issue if no one's working on it. 😄

[2021-12-16 05:38] sohamsshah commented on #110
@yashsehgal , sure go ahead! I would suggest lets brainstorm a bit on what props can be added for our implementation of Range Slider component. We can refer some popular design systems to decide them.

[2021-12-16 06:02] yashsehgal commented on #110
Yeah sure @sohamsshah I will create and share a list of features we can add to this component, according to our requirements.

[2021-12-16 06:42] chicken-biryani commented on #110
@sohamsshah @yashsehgal

Could we replace the range slider with text boxes?

Because-

1) The range slider limits the users. To give the range from 0 to 400. Whereas the value of the pools can go way beyond.

2) Precicion is not met with range slider. A lot of times the value of pools are in float/decimal values.

Just a thought. I think putting a text box would be better.

Or maybe we could keep

[2021-12-16 07:03] yashsehgal commented on #110
Great idea. What we do is create a component wrapper with 2 radio based options (custom and range) so that by default users can set a range value, if they want custom then after selecting the custom radio button an input box will appear.

If this sounds to be a good approach, I can start designing it.

[2021-12-16 07:43] sohamsshah commented on #110
This sounds good.

Though, we can design the RangeSlider component that accepts props which manage with props such as:
* `customRange` - [x,y] (Array of x and y shows that the slider should range from x to y value)
* `precisionValue` - 0.1 or 0.01 and so on to show the selection precision
* `step`: how many units are stepped on sliding (as a similar alternative to precisionValue)
* `onChange`: run

[2021-12-16 08:50] chicken-biryani commented on #110
@yashsehgal @sohamsshah

The problem is that... it limits the user.

The values can go way beyond (negative and positive).....

I don't know whether having a range slider is useful. 😬

[2021-12-16 08:53] sohamsshah commented on #110
If that is the case, then it would be better to take help from designer for the final UI for the requested component. Once it is confirmed, then only it would make sense to actually write code for the component.

[2021-12-16 09:23] yashsehgal commented on #110
Correct 💯
Got your points @chicken-biryani @sohamsshah
I will be working on the component designing part of it and will update you soon. 👍🏽

[2021-12-16 19:19] padmajabhol commented on #123
Can I work on this if this is still open?

[2021-12-17 07:49] yashsehgal commented on #110
I have created a concept wireframe of this component.
- We can have 2 radio buttons to select what kind of values user want to add.
- Slider component can be taken from Chakra UI, as it already have a set of pre-developed logics.
- Input boxes can be added in the `Set custom duration` option.

This is how the design is looking, you can also check it on figma [here](https://www.figma.com/file/AJPJp

[2021-12-17 09:22] padmajabhol opened #133 "Add "Contact Us" nav element in the Navbar."
For now, the navbar only shows Documentation and Github. The new "Contact Us" element will be redirected to the organisation's email.

[2021-12-17 09:23] padmajabhol commented on #133
@chicken-biryani Can you assign this to me?

[2021-12-19 08:16] yashsehgal commented on #110
Hey @chicken-biryani @sohamsshah
Can I continue with the UI component design above and also, are there any changes required?

[2021-12-19 08:29] sohamsshah commented on #110
Hey @yashsehgal , this seems great. Sure, please raise a PR for this component, it would be great!

[2021-12-21 01:51] #48 closed

[2021-12-24 16:58] #133 closed

[2021-12-29 01:05] aornugent opened #138 "Feature Request: Track input layers in Vuex"
### Is your feature request related to a problem? Please describe.

Users should be able to review the metadata and associated config templates for all uploaded data.

### Describe the solution you'd like.

In order to keep track of the current application state, we can load the names of uploaded files into a `layers` array in the Vuex store using Dropzones `getAcceptedFiles` method.

Because we u

[2022-01-02 05:43] aornugent commented on #71
@iamrajiv - do you have any further proposals? I could create a DevOps team to any repos containing Dockerfiles if there's a solution to be implemented. It'll just need a design doc and execution.

[2022-01-05 17:04] yashsehgal commented on #110
Hey @sohamsshah
Sorry for taking so much time on this, but here's a small prototype of this component that I have development code-sandbox

https://codesandbox.io/s/elated-dawn-hhdmz?file=/src/App.vue

If it looks good to you, I can start implementing this feature into our codebase.

Tools I have used: ChakraUI for Vue

[2022-01-06 05:46] sohamsshah commented on #110
Hey @yashsehgal , I see that you have used Chakra-UI Vue for this. The implementation looks good but I feel that the decision about the design system is still awaiting (See comments here #136 ) Once it is finalized, we can move forward with this.

[2022-01-15 04:36] iamrajiv commented on #71
@aornugent I think this issue is almost solved like we are able to publish the images in the GitHub container registry. Only GCBM image is left but I think to build the image for GCBM we need GCBM files as of now we are using `tlazypanda/gcbm` image.

[2022-01-15 04:37] iamrajiv commented on #71
@aornugent I think this issue is almost solved like we have published the images in the GitHub container registry [here](https://github.com/orgs/moja-global/packages). Only GCBM image is left but I think to build the image for GCBM we need GCBM files as of now we are using `tlazypanda/gcbm` image.

[2022-01-15 04:38] iamrajiv commented on #71
@aornugent I think this issue is almost solved like we have published the images in the GitHub container registry [here](https://github.com/orgs/moja-global/packages). Only GCBM image is left but I think to build the image for GCBM we need GCBM files as of now we are using `tlazypanda/gcbm` image.

[2022-02-01 19:07] HarshCasper commented on #125
Closing this issue because of no updates.

[2022-02-01 19:07] #125 closed

[2022-02-03 01:46] #95 closed

[2022-02-15 08:53] #71 closed

[2022-02-20 01:51] #94 closed

[2022-02-22 18:30] padmajabhol opened #150 "Add container scan for finding vulnerabilities"
Refactor the current CI to build the image and then scan for vulnerabilities. Add a multi stage build for linting to run as a part of docker build.

[2022-02-26 17:15] padmajabhol commented on #116
Is someone working on this?

[2022-02-26 22:09] chicken-biryani commented on #116
@padmajabhol nope. You can take it up.

[2022-02-28 20:27] YashKandalkar opened #155 "Feature Request: update the landing page of Flint UI according to the new design"
### Is your feature request related to a problem? Please describe.

The current landing page of Flint UI is not in accordance with the [new design](https://www.figma.com/proto/JXB1KKGWxD2dLR7dx2hqWS/Flint-UI?node-id=3%3A2&scaling=min-zoom&page-id=0%3A1&starting-point-node-id=3%3A2).

There are some things that needs to be changed:
- The font currently being applied is Roboto but should me DM Sans.

[2022-02-28 20:29] YashKandalkar commented on #155
@chicken-biryani can I work on this? Let me know if I missed anything or if any changes are required!

[2022-02-28 20:41] chicken-biryani commented on #155
Hey @YashKandalkar looks great. Can you make sure they lead to the correct pages?

[2022-02-28 20:45] YashKandalkar commented on #155
@chicken-biryani  Will do! Thanks!

[2022-03-01 10:33] YashKandalkar opened #156 "Feature Request: Add the Button component in storybook."
### Is your feature request related to a problem? Please describe.

Currently the Button visible in storybook is an example story added when first StoryBook.js was added to the repo (#32). This file can be replaced with the Button component that was created for the new design.

### Describe the solution you'd like.

We can replace `stories/Button.stories.js` with `stories/Button/Button.stories.js`

[2022-03-01 11:22] SanjaySinghRajpoot commented on #156
May I work on this issue?

[2022-03-01 15:15] YashKandalkar opened #158 "Feature Request: Add Accordion component to storybook."
### Is your feature request related to a problem? Please describe.

Accordion component made for the new design was added (components/Accordion/Accordion.vue) but there is no stories file for it.

### Describe the solution you'd like.

Add a `Accordion.stories.js` file in `stories/`. (Refer to other .stories.js files to know how a component is added in storybook.js)

### Describe alternatives you'

[2022-03-01 18:16] YashKandalkar opened #159 "Feature Request: Update UI of /flint/configurations/point according to the new design"
### Is your feature request related to a problem? Please describe.

There are lots of changes to be done, but we can start with changing the background UI (not covering the Datepicker component and output table & chart here).

Some changes covered in this issue:
- Add Navbar
- Remove gradient
- Fix margins, padding
- Typography (color, size, etc.)
- Configure design of vue-slider to match new desi

[2022-03-01 18:17] YashKandalkar commented on #159
Hey @chicken-biryani please assign me on this one!

[2022-03-01 18:37] YashKandalkar opened #160 "Feature Request: Update DatepickerPoint.vue component based on the new design"
### Is your feature request related to a problem? Please describe.

The current DatepickerPoint.vue component (components/Datepicker/DatepickerPoint.vue) is not according to the new design.

### Describe the solution you'd like.

Change the UI of DatepickerPoint component to match the new design.

### Describe alternatives you've considered

-

### Additional context.

Current UI:
![image](https:/

[2022-03-01 18:55] YashKandalkar opened #161 "Feature Request: Create PointOutput component."
### Is your feature request related to a problem? Please describe.

Currently, the 2 components TablePoint.vue and PointOutput.vue are in views/ and are rendered on different routes. But in the new design, these 2 components are combined in a single "table".
We can shift these views into components then create a parent component which will display table, graph based on the selected tab. (See the i

[2022-03-01 19:08] YashKandalkar opened #162 "Feature Request: Update UI of `/flint/configurations/rothc` according to the new design"
### Is your feature request related to a problem? Please describe.

Current UI is not according to the new design.

### Describe the solution you'd like.

TODO:
- Add Navbar (components/Navbars/LandingPageNavbar.vue)
- Remove gradient
- Fix margins, padding
- Typography (color, size, etc.)
- Remove Stepper component (not in the new design)

### Describe alternatives you've considered

-

### Addit

[2022-03-01 19:28] YashKandalkar opened #163 "Feature Request: Move configurations/rothc/* views to components/Configurations/RothC/ and update UI"
### Is your feature request related to a problem? Please describe.

Currently, configurations/rothc/* are in views/ directory. But in the new design, all of these configurations are on the same page.

### Describe the solution you'd like.

TODO:
- Move files from views/configurations/rothc/* to components/Configurations/RothC/
- Update the UI of the configuration components to match the new design

[2022-03-01 19:42] YashKandalkar commented on #163
Once a PR for this is merged we can work on creating smaller components out of the inputs/textareas in these config files since a lot of the code is repeated for different configurations.

[2022-03-02 06:11] ishitakeshawani commented on #160
I want to solve this issue. Can I?

[2022-03-02 06:30] chicken-biryani commented on #160
Yes, @ishitakeshawani go ahead! :)

[2022-03-02 10:44] SanjaySinghRajpoot commented on #162
May I work on this issue?

[2022-03-02 11:02] chicken-biryani commented on #162
Yes, @SanjaySinghRajpoot!

But do complete the issues you take up!

[2022-03-02 12:47] heyanurag commented on #158
I'd like to give this a try :)

[2022-03-02 15:14] chicken-biryani commented on #158
Hey, @heyanurag definitely!

If you need help... Do reach out to us on slack (#user-interface) or under this issue.

[2022-03-02 16:21] aliya-rahmani commented on #163
@YashKandalkar Can I work on this issue?

[2022-03-02 19:17] chicken-biryani commented on #163
@aliya-rahmani yes! Go ahead!

[2022-03-03 11:09] #161 closed

[2022-03-03 12:05] SanjaySinghRajpoot commented on #156
I am a little confused on this issue. I compiled the code and the code was running in the storybook interface so is that is the place where I have to add the button OR do I have to create a new file for the button itself? Please let me know further instructions.

[2022-03-05 07:14] pragyamittal0 commented on #116
Hi, I am Pragya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-05 09:49] chicken-biryani commented on #116
Hey, @pragyamittal0 great work.

Although, A few pointers to keep in mind from here onwards:

- I guess @padmajabhol was already working on the issue. It's just open source etiquettes to ask- "Hey, can I work on this issue?" To the person who's been assigned the issue or to a maintainer.

- Always wait for a maintainer to reply before opening a PR because it may happen that there are some changes

[2022-03-05 12:55] padmajabhol commented on #116
Hey, I'm working on this, I had already proceeded with tailwind but I shall be redoing it with ant design with a little more time.

[2022-03-05 13:01] #155 closed

[2022-03-09 16:35] SanjaySinghRajpoot opened #170 "Feature Request: Adding header for the `GCBM` Page"
### Is your feature request related to a problem? Please describe.

`GCBM` page does not have any header or footer.

### Describe the solution you'd like.

- Adding a header component for the `GCBM` page.
- Fixing basic UI errors on the `GCBM` page
- Trying to maintain consistency across the website.

[2022-03-09 16:55] #162 closed

[2022-03-09 19:51] YashKandalkar opened #171 "Feature Request: add Slider component"
### Is your feature request related to a problem? Please describe.

This component will only change the color of rail and the dot to the colors from the new design (in the diagram above) and directly render ant-design-vue (antdv)’s Slider component.

### Describe the solution you'd like.

Add a Slider component with a storybook file for it.

### Describe alternatives you've considered

_No respons

[2022-03-09 19:52] YashKandalkar commented on #171
@chicken-biryani Please assign this one to me, I'll make a PR and add it in new issues for others as reference.

[2022-03-09 19:59] #163 closed

[2022-03-09 20:15] YashKandalkar commented on #163
Hey @aliya-rahmani as discussed on Slack (https://github.com/moja-global/FLINT-UI/discussions/154) we are creating smaller components using ant-design, so we first need to make smaller components which RothC components uses. We will be creating issues for these components you can take one to work upon if you want:)
 You can also stay active in the #user-interface channel of slack for getting updat

[2022-03-10 14:58] YashKandalkar opened #174 "Feature Request: Create DatePicker component"
### Is your feature request related to a problem? Please describe.

Create a new DatePicker component using ant-design-vue's DatePicker component based on the new design.
Only a few colors needs to be changed from antdv's DatePicker like the border-color, icon color, etc. (you can use the earth color which is added in tailwind config)
All of the props from antdv's DatePicker should work on this co

[2022-03-10 16:27] sohamsshah commented on #174
Would love to work on this issue @YashKandalkar .

[2022-03-10 16:29] HarshCasper commented on #174
Hi @sohamsshah

We are discussing this issue to be assigned to @chicken-biryani for part of a small demonstration that she would be doing as part of the UI working group meetup.

Follow this thread: https://mojaglobal.slack.com/archives/C010Z37GL2U/p1646927869015569

[2022-03-10 16:34] chicken-biryani commented on #174
Hi,

@HarshCasper and @sohamsshah It's alright. I guess @YashKandalkar will be co-hosting me on that day. And he'll help us tackle it.

Thanks

[2022-03-10 16:36] HarshCasper commented on #174
Hi @chicken-biryani — It's not conducive to have @YashKandalkar present alongside you, since he is not leading the working group meetup. He can possibly provide a few advice about getting started but I would like you to take the entire ownership of the KT (stressing more on the homogeneity of the nature).

[2022-03-10 16:42] chicken-biryani commented on #174
@HarshCasper I do realise that you want it to me homogeneous in nature.

However, I am not confident enough to explain the codebase on my own... As during the term I worked more towards decoding the GCBM.

I am sorry but keeping the meet homogeneous in nature may lead the people to wrong information.

We can rearrange or take an in Between meeting on a day and time that @sohamsshah is available. H

[2022-03-10 16:47] HarshCasper commented on #174
Hi @chicken-biryani — It's not about what you worked upon during your term of LFX. You are co-leading the project and have been actively working on PR reviews and upcoming UI updates.

If it's coming from you, that's a disappointment, since your comment stating: `may lead the people to wrong information` would lead true as well while reviewing actual code from other contributors.

As an alternativ

[2022-03-10 16:50] #171 closed

[2022-03-10 21:00] harsh-058 commented on #158
hey,I am interested to do this ,Can i try

[2022-03-10 23:04] chicken-biryani commented on #158
Hi, @heyanurag any updates?

Note- It's okay if you feel that you don't have the bandwidth right now to work on this issue... But do keep us in the loop

[2022-03-11 04:56] arnab15 commented on #174
hey @HarshCasper @chicken-biryani @sohamsshah I would Like to work on this Date Picker feature using ant design

[2022-03-11 05:06] chicken-biryani commented on #174
@arnab15 I'll be working on it.

@YashKandalkar and @SanjaySinghRajpoot will be creating a bunch of issues soon.

You don't necessarily have to take up an already existing issue... Feel free to create your own.

[2022-03-11 05:53] SanjaySinghRajpoot opened #175 "Feature Request: Create Slider component in Ant Design"
### Is your feature request related to a problem? Please describe.

Create a new Slider component using Ant Design. Kindly make the required changes.

### Describe the solution you'd like.

This component will only change the colour of rail and the dot to the colours from the new design (in the diagram above) and directly render ant-design-vue (antdv)’s Slider component.

Props:
All props of antdv

[2022-03-11 05:56] SanjaySinghRajpoot opened #176 "Feature Request: Create ConfigSlider component in Ant Design"
### Is your feature request related to a problem? Please describe.

Migrating old tailwind components to Ant Design.

### Describe the solution you'd like.

This component will render the above Slider component with labels (Pool 1, Pool 2, etc.) and their current value (and max value, which is added in the new design)
There is already a component made for this but it uses the Slider from vueform.

[2022-03-11 06:01] SanjaySinghRajpoot opened #177 "Feature Request: Create DatePickerPoint Component in Ant Design"
### Is your feature request related to a problem? Please describe.

Create a DatePickerPoint component using ant-design-vue's DatePicker component based on the new design. Make all the required so that the new component look as close to the design described below.

link - https://www.antdv.com/components/date-picker/

### Describe the solution you'd like.

Making a new DatePickerPoint component us

[2022-03-11 06:04] SanjaySinghRajpoot opened #178 "Feature Request: Create a new Table using Ant Design"
### Is your feature request related to a problem? Please describe.

The table component on the FLINT-UI website is outdated. It needs to be updated as per Ant Design Layout.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

We need a new table component to show all the data from the simulation. For this, we will use Ant Design Table Component. The

[2022-03-11 06:07] SanjaySinghRajpoot commented on #176
Update I have to keep this issue on hold. Once the Slider #175 issue is fixed. Then we can start working on this issue. Till then please work on some other issue.

Thank You.

[2022-03-11 06:10] SanjaySinghRajpoot commented on #178
I would like to work on this issue.

Thank You

[2022-03-11 06:11] padmajabhol commented on #177
I'd like to work on this.

[2022-03-11 06:36] chicken-biryani commented on #177
@padmajabhol is it okay if we keep this one for the new contributors?

[2022-03-11 06:39] sayan011 commented on #178
Hey @SanjaySinghRajpoot  ,can I work on this issue?

[2022-03-11 06:44] chicken-biryani commented on #178
@sayan011 yes. Go ahead!
Please keep us updated about your progress.

[2022-03-11 06:45] padmajabhol commented on #177
Sure! I just saw the good first issue now 😅

[2022-03-11 10:15] arpita221b commented on #175
Hey!!
I would like to work on this issue can you please assign this to me?

[2022-03-11 10:55] chicken-biryani commented on #175
Yes, @arpita221b please go ahead!

[2022-03-11 21:31] heyanurag commented on #158
Hey @chicken-biryani sorry for being quite, I had exams this week...
I am exploring storybook currently and will make a PR in the coming week!

[2022-03-11 22:54] chicken-biryani commented on #158
@harsh-058 would you be okay with working on something else?

[2022-03-11 22:54] chicken-biryani commented on #158
@harsh-058 would you be okay with working on something else?

[2022-03-12 00:54] arnab15 commented on #177
@chicken-biryani i would like to work on this issue please assign it to me.

[2022-03-12 04:51] harsh-058 commented on #158
@chicken-biryani yes sure

[2022-03-12 06:10] Palaksharma23 commented on #110
@sohamsshah i would like to work on this issue :)

[2022-03-12 06:41] chicken-biryani commented on #110
Hi, @Palaksharma23 we have a new issue with similar instructions but I believe revolving around what we require lately.

I'll close this one.

[2022-03-12 06:41] #110 closed

[2022-03-12 07:00] chicken-biryani commented on #175
Hey, @arpita221b if you would have started solving the issue you may have realised that we already have the component.

I am sorry for the confusion. I'll have to close this issue.

[2022-03-12 07:01] #175 closed

[2022-03-12 07:09] chicken-biryani commented on #177
@arnab15 do wait till the Date picker issue is merged.

[2022-03-12 07:14] Palaksharma23 commented on #176
@chicken-biryani maam I would like to work on this issue :)

[2022-03-12 07:18] chicken-biryani commented on #176
Yes, @Palaksharma23 now that the prev issue has been worked upon you can work on this.

Do keep us updated with your progress. :)

[2022-03-12 09:24] arnab15 commented on #177
Does this issue have any peer dependency on the Date picker? @HarshCasper @chicken-biryani

[2022-03-12 09:34] chicken-biryani commented on #177
@arnab15 we want #174 to get comoleted before we move on to this one.

[2022-03-12 15:21] arpita221b commented on #175
No problem!!

[2022-03-13 13:20] Palaksharma23 commented on #176
sure mam :)

[2022-03-13 15:00] chicken-biryani commented on #178
Hi @sayan011 how are you prgressing? If you're facing any trouble do let me know.

[2022-03-14 01:48] sayan011 commented on #178
I'm not too familiar with Vue.. I'm learning it on the fly, that's why it's taking some time.. But I think I can finish it by Wednesday.....will definitely let you know if I face any trouble...sorry for the delay.

[2022-03-15 04:41] GulabSinghSikarwar commented on #176
@SanjaySinghRajpoot , Sir, I  want to start my Open Source Journey, By Contributing to This issue

[2022-03-15 11:30] aniketh-varma commented on #178
Hi, I would like to work on this issue. I am a part of OpenForce 2022 and would be needing some documentation or help to get started with the issue.

[2022-03-15 12:23] chicken-biryani commented on #178
Hi, @aniketh-varma we are there to help you out. How comfortable with Vue?

[2022-03-15 12:23] chicken-biryani commented on #176
Hi @Palaksharma23 any updates?

@GulabSinghSikarwar I believe Palak is already working on it.

[2022-03-15 12:26] Palaksharma23 commented on #176
maam let @GulabSinghSikarwar give it a try :)

[2022-03-15 13:07] chicken-biryani commented on #178
@aniketh-varma I believe developing this component can be a little tough but can be a good learning process.

@SanjaySinghRajpoot and @YashKandalkar would you be okay with guiding him over slack?

[2022-03-15 13:08] chicken-biryani commented on #178
@aniketh-varma have you joined our slack? If not please join it.

And send a message to me over there.

[2022-03-15 13:09] chicken-biryani commented on #176
@Palaksharma23 okay.

@GulabSinghSikarwar please take over. And keep us updated.

[2022-03-15 22:23] GulabSinghSikarwar commented on #176
Ok Mam

[2022-03-16 06:33] SanjaySinghRajpoot opened #182 "Feature Request: Fix padding and Positon of Text on `Rothc` page"
### Is your feature request related to a problem? Please describe.

`Rothc` page has a few differences when we compare it with the Figma Design.

### Describe the solution you'd like.

Fix the padding, margin and font design to match the Figma design template. Make all the required changes so that the`rothc` page resembles the design template.

### Describe alternatives you've considered

_No resp

[2022-03-16 06:41] SanjaySinghRajpoot opened #183 "Feature Request: Create a new Accordion Component Using Ant Design"
### Is your feature request related to a problem? Please describe.

The current website has the Card component which needs to be changed with the Accordion component from the Ant Design. It has to be updated as per the new design. Drop down should work as expected along with the required fields. Dropdown

### Describe the solution you'd like.

Making a new Accordion component using Ant Design. Imp

[2022-03-16 08:17] #116 closed

[2022-03-16 08:36] SanjaySinghRajpoot opened #184 "Feature Request: Importing Footer to the `RothC`,`Point` and `GCBM` Page"
### Is your feature request related to a problem? Please describe.

Currently, only the main page has the new header component. Other pages are still missing the Footer component.

### Describe the solution you'd like.

I will import the footer component to all 3 pages. A few changes have to done to make the UI look clean.

### Describe alternatives you've considered

_No response_

### Additional

[2022-03-16 08:36] SanjaySinghRajpoot commented on #184
I would like to work on this issue.

[2022-03-16 08:37] SanjaySinghRajpoot commented on #182
Only for beginners. !!

[2022-03-16 10:10] arpita221b commented on #183
Hey!!
I would like to work on this issue!!

[2022-03-16 10:43] chicken-biryani commented on #183
Hi @arpita221b yes. You can work on it.

(Hopefully nothing goes wrong this time! 😅😂)

[2022-03-16 10:56] Palaksharma23 commented on #182
@chicken-biryani maam i would love to work on this issue, can I take this up :)

[2022-03-16 10:57] chicken-biryani commented on #182
@Palaksharma23 yes.

Do keep us updated if you get stuck, okay?

[2022-03-16 10:58] Palaksharma23 commented on #182
@chicken-biryani sure maam

[2022-03-17 06:55] arpita221b commented on #183
Let's see 😂😂

[2022-03-17 12:02] #182 closed

[2022-03-17 21:06] Janvi-Thakkar opened #188 "Bug: Logo is not clickable"
### Describe the bug.

For better UX, it is common practice that by clicking on the logo of the header section, the user should be redirected to the landing page of the website. This would help users to navigate easily.

### Describe the steps to reproduce the behavior.

1) Open the Flint-UI website
2) Click on the logo of the header section.

### Expected behavior.

By clicking on the logo user s

[2022-03-17 21:07] Janvi-Thakkar commented on #188
I would like to work on this.

[2022-03-17 21:21] chicken-biryani commented on #188
Hi, @Janvi-Thakkar that's a really good start.

@SanjaySinghRajpoot and @YashKandalkar would you like to guide @Janvi-Thakkar on how to accomplish the above in a way we require.

Thanks!

[2022-03-18 06:18] Janvi-Thakkar commented on #188
@chicken-biryani Thank You! Is there any specific expectation to accomplish it?

[2022-03-18 06:26] YashKandalkar commented on #188
@Janvi-Thakkar Not really, just wrapping the logo's img in an anchor tag should work!
Let us know if you need any help.
Thanks for creating the issue!

[2022-03-18 06:30] Janvi-Thakkar commented on #188
@YashKandalkar Okay, I will send the PR soon and let you know if I need help in between.

[2022-03-19 13:30] SanjaySinghRajpoot opened #190 "Feature Request: Updating Footer Component"
### Is your feature request related to a problem? Please describe.

The current `footer` component looks outdated with respect to the community website's footer.  The bg-color does not match the theme of the website. Few links are also missing on this Footer component.

### Describe the solution you'd like.

Update the footer component so it looks similar to the Community website's footer. This wi

[2022-03-19 13:31] SanjaySinghRajpoot commented on #190
I would like to work in this issue

[2022-03-19 18:08] Janvi-Thakkar opened #191 "Bug: different pages have different padding for header."
### Describe the bug.

The padding of division around the header is different for different pages, which makes the UI inconsistent.

### Describe the steps to reproduce the behavior.

1. Open Flint.UI home page
2. Notice the header.
3. Go to Point /RothC / GCBM page.
4. Notice the header's start and endpoints.

### Expected behavior.

The header should be consistent across the pages.

### Screensh

[2022-03-19 18:09] Janvi-Thakkar commented on #191
@chicken-biryani I would like to work on this. Can you please assign this to me?

[2022-03-19 18:27] chicken-biryani commented on #191
Good catch @Janvi-Thakkar. Please go ahead and work on it.

[2022-03-19 21:38] Janvi-Thakkar opened #193 "Bug: Elements of RothC page are not aligned"
### Describe the bug.

Elements alignment enhances visibility and usability. So it is necessary to provide proper alignment.

### Describe the steps to reproduce the behavior.

1. Go to home page of FLINT.UI
2. Click on explore button for RothC section.
3. Check the visual alignment of the page.

### Expected behavior.

Elements on the page should be aligned.

### Screenshots.

![image](https://us

[2022-03-20 02:43] SanjaySinghRajpoot commented on #193
This issue is already fixed in #182. Have a look and take the Pull from master branch.

[2022-03-20 09:10] manekasingh05 commented on #190
I would like to work on this issue under Codeflow codeforce 2022

[2022-03-20 10:45] ritikalohia commented on #178
Is this issue opened? is it Assigned to someone,? if not. can you please assign me this task? @chicken-biryani

[2022-03-20 10:47] chicken-biryani commented on #178
Hi, @ritikalohia it is open. You can work on it.

Do reach out to us on Slack if required.

[2022-03-20 14:09] #193 closed

[2022-03-20 14:11] chicken-biryani commented on #190
Hia, @manekasingh05 this is already been worked on.

What you can do is take inspiration from Janvi who created issue #188

She has set up the project and looking for small details that are missing. Maybe you could do something similar.

[2022-03-20 18:48] chicken-biryani opened #195 "Documentation: Add code of conduct."
We don't have the code of conduct in FLINT-UI.

Please take help of the link below.
https://github.com/moja-global/About_moja_global/blob/master/CODE_OF_CONDUCT.md

[2022-03-20 19:53] aornugent commented on #195
Hey @chicken-biryani - the moja global Code of Conduct applies to all of our projects, so we don't need to write a new one.

Maybe just a link is needed? Also found at:
* https://community.moja.global/community/code-of-conduct
* https://docs.moja.global/en/latest/contributing/coc.html

[2022-03-20 19:55] aornugent commented on #195
But! I noticed the email address in the Enforcement section is wrong. We need to change guy@moja.global -> mentorship@moja.global across all three versions.

[2022-03-20 20:11] chicken-biryani commented on #195
@aornugent yes the link provided just requires the person to copy and paste from the code of conduct given at 'About moja global' into a markdown file named 'Code of Conduct' and not write up a new one.

**Although**, just linking the 'code of conduct' document in a markdown does seem like a better idea because if it wouldn't have to be updated at multiple places.

Correct?

[2022-03-21 02:03] #118 closed

[2022-03-21 09:41] aniketh-varma commented on #195
Hi @chicken-biryani, I would like to take up this issue. Also, it would be helpful if you can please clarify if a new Code of Conduct has to be added or simply a link to the Code of Conduct would be fine. Thanks.

[2022-03-21 09:46] chicken-biryani commented on #195
Hey, @aniketh-varma thank you for taking it up.

To clarify:

- Create a md file named 'CODE_OF_CONDUT'
- Add a sentence something along the lines 'All members are asked to follow the code of conduct'.
- Link the code of conduct document.

Take help of this PR - https://github.com/jupyter-naas/naas/pull/298

(Be careful of the wordings.)

[2022-03-21 09:52] #190 closed

[2022-03-21 09:58] #191 closed

[2022-03-21 10:21] #188 closed

[2022-03-21 16:37] sohamsshah opened #197 "Bug: Remove unnecessary `MainNavbar.vue` and `Footer.vue` files from the codebase"
### Describe the bug.

Currently, our codebase doesn't use `Navbars/MainNavbar.vue` and `Alert/Footer.vue` component and also it is implemented in tailwindcss. So, it is a good idea to remove it from the project.

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

_No response_

### Screenshots.

_No response_

### Operating Environment

N/A

### Additional I

[2022-03-21 17:48] Janvi-Thakkar opened #198 "Bug: Change colour theme of GCBM step 2 and step 3 as per new UI"
### Describe the bug.

Color theme for GCBM step 2 and step 3 is not same as other pages of FLINT.UI

### Describe the steps to reproduce the behavior.

1. Go to the landing page of FLINT.UI
2. Click of Explore button for GCBM
3. Go to Upload dataset step
4. See the difference
5. Check the behavior for Run | Check status | Download step as well

### Expected behavior.

UI color theme should be con

[2022-03-21 18:39] chicken-biryani commented on #198
Hi, @Janvi-Thakkar it isn't indicated anywhere what the 'new color theme' is like.

For someone who is new may feel a little lost. Could you add a link to how the new color theme should be? Also are you familiar with Figma? Maybe designing and indicating how the first page should be may be a good move?

If you aren't familiar with Figma you and @shriya can team up. And work on a design for the fir

[2022-03-21 18:43] InfiniteVerma commented on #197
I'd like to work on this.

[2022-03-21 18:47] sohamsshah commented on #197
Sure @InfiniteVerma , please go ahead! Let me know if you need any help

[2022-03-21 18:49] Janvi-Thakkar commented on #198
@chicken-biryani Yes, I should add what the new color theme is. Actually, I have mentioned that the colors on those pages differ from other pages of the FLINT.UI, even the 1st step of GCBM is having normal colors.

But you are right that beginners would not be aware of how they should change the colors. I am knowing the Figma. I have worked a little with it. But if I can provide screenshots of oth

[2022-03-21 19:02] chicken-biryani commented on #198
@Janvi-ThakkarYou're correct! What we could do is--

Add a screenshot of what the color should look like. In that case, we won't require a Figma design. And a new person can work on this issue.

Good thinking!

[2022-03-21 19:07] Janvi-Thakkar commented on #198
@chicken-biryani I will add the screenshot of 2-3 pages to let them know the expected colors.

I can surely design the component if we want to revamp the UI but I should create another issue for that!

[2022-03-21 19:09] chicken-biryani commented on #198
@Janvi-Thakkar yes. That will take some time and also some brainstorming.

But is worth it!

[2022-03-21 21:13] chicken-biryani commented on #198
@Palaksharma23 would you like to try out this issue?

[2022-03-21 21:23] Janvi-Thakkar commented on #183
@arpita221b Please let me know if I could help you, I would love to do so!

[2022-03-22 05:20] sohamsshah opened #200 "Refactor: `Footer.vue` component has inline styling"
### Is your feature request related to a problem? Please describe.

This Refactor (feature) request aims to fix the inline styling done via `style` html tags in the project. It is not a good practice to have inline css styling and thus a quick refactor to add corresponding css classes to the footer component would work.

### Describe the solution you'd like.

Add css styles in the `<style scoped>`

[2022-03-22 05:59] sohamsshah commented on #158
Hey @heyanurag , any updates on this issue?

[2022-03-22 06:01] sohamsshah commented on #176
Hi @GulabSinghSikarwar , any updates on the issue? Please let me know if you need any help or doubts around it's implementation

[2022-03-22 06:33] #184 closed

[2022-03-22 06:38] Janvi-Thakkar commented on #200
@sohamsshah I would like to work on it. Can you please assign this to me?

[2022-03-22 07:15] sohamsshah commented on #200
Sure @Janvi-Thakkar , please go ahead!

[2022-03-22 08:53] InfiniteVerma commented on #197
To test the changes, is running the Vue app enough?

[2022-03-22 10:52] sohamsshah commented on #197
Yes E2E should be done. Though, currently not all pages are covered by E2E, you can run `yarn dev` and if nothing breaks then it is good to go.

[2022-03-22 11:39] heyanurag commented on #158
Hi @sohamsshah , I see there is an issue for creating a new accordion using Ant Design  #183 . I think I shall wait for the new Accordion Component to create a new `.stories.js` file right?

[2022-03-22 20:22] Janvi-Thakkar opened #204 "Feature Request: Redirect user to email when clicks on info@moja.global in footer"
### Is your feature request related to a problem? Please describe.

We can provide a link to the mail id so it would be easier for users to contact the organization.

### Describe the solution you'd like.

Provide email link on the mail id in the footer.

### Describe alternatives you've considered

_No response_

### Additional context.

_No response_

[2022-03-23 03:08] SanjaySinghRajpoot opened #205 "Bug: Header Component not visible on `GCBM` Page"
### Describe the bug.

Header component is not visible on the `GCBM` Page.

### Describe the steps to reproduce the behavior.

Compile the code on the local machine. Then visit `GCBM` page, you will not see the header component.

### Expected behavior.

The header Component should be visible.

### Screenshots.

![Screenshot from 2022-03-23 08-35-04](https://user-images.githubusercontent.com/674584

[2022-03-23 03:08] SanjaySinghRajpoot commented on #205
I would like to work on this issue.

[2022-03-23 09:30] chicken-biryani commented on #205
@SanjaySinghRajpoot go ahead!

[2022-03-23 11:21] Janvi-Thakkar commented on #205
@SanjaySinghRajpoot just removing -m-24 from the division would work!

[2022-03-23 11:45] InfiniteVerma commented on #204
I'd like to work on this.

[2022-03-23 15:55] chicken-biryani commented on #204
Go ahead! @InfiniteVerma

[2022-03-24 09:36] Janvi-Thakkar commented on #198
@Palaksharma23 please let me know if you are facing any hurdles. I would be happy to help you!

[2022-03-25 08:16] sohamsshah commented on #158
Yes @heyanurag . Ideally that should be the case. Will try to unblock the #183 PR as soon as possible. Thanks for being patient 🙏

[2022-03-25 08:18] sohamsshah commented on #183
Hi @arpita221b , are you working on this? In case if you are occupied and do not have enough bandwidth, it's fine, you can take up other issues later. We can unblock this issue to make room for other contributors to be assigned.

[2022-03-25 09:32] chicken-biryani commented on #183
Hi @sohamsshah @arpita221b had updated me over slack yesterday.

Since colleges have started offline for her she'll be taking care of the issue by coming Sunday.

I think we can wait till then.

[2022-03-25 20:09] Janvi-Thakkar opened #207 "Bug: Simulation length should be dynamic based on start and end date"
### Describe the bug.

In Point and RothC pages, the simulation length is not changing dynamically. The static value 4.92 is used for simulation length.

### Describe the steps to reproduce the behavior.

1) Go to the landing page on FLINT-UI
2) Explore RothC or Point section
3) Check the behavior by changing the start and end dates

### Expected behavior.

Simulation Length should be calculated b

[2022-03-25 20:15] Janvi-Thakkar opened #208 "Bug: Changing the start date is causing automatic change in end date and vice versa in RothC"
### Describe the bug.

Date picker's value for end date is getting changed by changing the start date as well and vice versa.

### Describe the steps to reproduce the behavior.

1) Go to the landing page on FLINT-UI
2) Explore RothC section
3) Check the behavior by changing the start and end dates

### Expected behavior.

Both dates should be changeable individually

### Screenshots.

![image](htt

[2022-03-25 20:15] Janvi-Thakkar commented on #208
@sohamsshah @chicken-biryani can I work on this?

[2022-03-25 23:58] chicken-biryani commented on #208
@Janvi-Thakkar yes please!

[2022-03-26 11:22] #200 closed

[2022-03-26 11:23] sohamsshah commented on #183
Makes sense @chicken-biryani , no problem!

[2022-03-26 15:56] YashKandalkar opened #210 "Bug: unnecessary margin right on DatepickerRothC's inputs"
### Describe the bug.

There is a `margin-right: 8em;` in DatepickerRothC's styles, which causes the configurations page to overflow.

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

Remove `margin-right: 8em;` from `.datepicker-input` class in DatepickerRothC.vue.
Also add `scoped` to the styles of DatepickerRothC component since this class was affecting

[2022-03-27 09:30] YashKandalkar opened #211 "Documentation: Add Ant Design Vue in readme"
### What is the current documentation state?

Ant Design Vue is not mentioned in the "Build With" section of the readme. But we are planning to use Ant Design Vue components moving forward.

### Where is this stated?

[Built With](https://github.com/moja-global/FLINT-UI#built-with) section of the readme

### Why do you want to improve the statement?

New contributors can know what the stack is use

[2022-03-27 09:36] YashKandalkar commented on #177
Hey @arnab15 ! Hope you're doing well!
Since https://github.com/moja-global/FLINT-UI/issues/174 was merged recently, you can use that Datepicker in this DatePickerPoint component. Let us know if you need any help!

[2022-03-27 13:23] Akshit42-hue commented on #211
Can I work on this issue under openforce

[2022-03-27 13:40] chicken-biryani commented on #211
@Akshit42-hue please. Go ahead! Thanks!

[2022-03-27 14:37] #197 closed

[2022-03-27 15:48] Akshit42-hue commented on #211
Hey @chicken-biryani, @YashKandalkar Can you please add **openforce** label

[2022-03-27 16:39] chicken-biryani commented on #211
Hi, @Akshit42-hue can you please let us know why? Is it like Hacktoberfest where an issue/PR doesn't get taken into account without the label?

[2022-03-27 16:42] Akshit42-hue commented on #211
I think it's important to have a label

[2022-03-27 16:50] Akshit42-hue commented on #210
Can I work on this issue @chicken-biryani @YashKandalkar

[2022-03-27 16:52] chicken-biryani commented on #211
@Akshit42-hue if it's not like that. Then I don't think it's required.

But thanks for your suggestion!

[2022-03-27 16:52] chicken-biryani commented on #210
@Akshit42-hue yes please!

[2022-03-27 20:51] Janvi-Thakkar commented on #204
@InfiniteVerma please let me know if you need any help!

[2022-03-27 23:11] #208 closed

[2022-03-28 05:02] InfiniteVerma commented on #204
Hey @Janvi-Thakkar, thanks! I found the files to change. Will update you if I need help.

[2022-03-28 07:29] #211 closed

[2022-03-30 03:39] baibhav3211 opened #217 "Bug: Footer designing in the responsive mode of the Flint-UI"
### Describe the bug.

In responsive mode, the footer component is having no margin and padding and not looking upto the mark.

### Describe the steps to reproduce the behavior.

Giving margin and padding can solve the problem.

### Expected behavior.

![image](https://user-images.githubusercontent.com/53977165/160746605-1f4eb56c-2ca9-4d98-a061-88b38b8d9233.png)

### Screenshots.

Before solving t

[2022-03-30 10:27] Akshit42-hue opened #218 "Footer year"
### Describe the bug.

The current year setting at the footer is not dynamic I guess and that is why it is showing as 2021.
![Screenshot from 2022-03-30 15-45-48](https://user-images.githubusercontent.com/59443454/160810807-1d0e6555-e0e3-42e0-9654-c8bc73db51cc.png)

### Expected behavior.

The Year should change dynamically every year without the need to change it each year.

### Operating Environ

[2022-03-30 10:29] Akshit42-hue commented on #218
Hey @chicken-biryani, Can I work on this issue ?

[2022-03-30 10:42] chicken-biryani commented on #218
I am not sure.

@HarshCasper is that so?

[2022-03-30 14:11] HarshCasper commented on #218
Definitely. Thanks for the catch @Akshit42-hue 👏

[2022-03-30 14:21] #210 closed

[2022-03-31 22:25] chicken-biryani commented on #217
@baibhav3211 would you like to work on this or is it for new comers?

[2022-04-01 01:32] baibhav3211 commented on #217
@chicken-biryani I have created this issue for new comers ! 🤝

[2022-04-01 15:20] chicken-biryani commented on #217
@Ishika414 go ahead! :)

[2022-04-01 19:48] arnab15 commented on #177
@chicken-biryani @HarshCasper @YashKandalkar if possible please assign this issue to any other contributors as I'll not be able to complete it.

[2022-04-01 20:15] chicken-biryani commented on #177
Hi, @arnab15 sure.

Can you please just put it over slack, #user-interface channel so that people know that they can take it up?
Thanks!

[2022-04-02 06:03] joharikushagra commented on #177
@chicken-biryani may I take this issue?

[2022-04-02 08:24] chicken-biryani commented on #177
@joharikushagra yess!

[2022-04-02 10:50] joharikushagra commented on #177
@chicken-biryani I tried setting up project as mentioned in installation guide, but unable to docker-compose the image as I'm low on disk storage. Is there any other alternative?

[2022-04-02 11:28] chicken-biryani commented on #177
Hi, @joharikushagra maybe getting rid of programs you don't currently need?

[2022-04-02 12:58] YashKandalkar commented on #177
@joharikushagra if you just want to work of flint.ui you can just clone this repo, cd into flint.ui and run `yarn` then `yarn serve` to start the vue app.
Since this is just a UI issue only starting flint.ui vue app will work.

[2022-04-02 14:30] Palaksharma23 commented on #198
sure @Janvi-Thakkar :)

[2022-04-03 04:02] soumyag123 commented on #207
Hii @chicken-biryani can you please assign me this issue?

[2022-04-03 09:20] chicken-biryani commented on #207
Hi, @soumyag123 yes. Go ahead!

[2022-04-03 16:12] chicken-biryani commented on #183
Hi @arpita221b are you facing any difficulties?

[2022-04-03 16:12] chicken-biryani commented on #204
Hi @InfiniteVerma any updates?

[2022-04-03 16:13] chicken-biryani commented on #218
Hi @Akshit42-hue any updates?

[2022-04-04 15:54] Akshit42-hue commented on #218
Hey @chicken-biryani , will raise a PR in this week

[2022-04-05 10:37] #198 closed

[2022-04-06 02:04] #138 closed

[2022-04-06 05:58] tanay123456789 commented on #156
As it has been 1 month since this issue was first opened and there is no progress so it is my humble request to maintainers to let me work on this issue.

[2022-04-07 08:48] Iheanacho-ai commented on #195
hey is this issue currently worked on, can i work on this ?

[2022-04-07 08:51] Iheanacho-ai commented on #204
hey please if this is free to work on can i work on this !

[2022-04-07 08:53] Iheanacho-ai commented on #160
hey please is this issues still opened , if it is can i please work on it

[2022-04-07 08:56] Iheanacho-ai commented on #218
If you need any help @Akshit42-hue id be happy to help !

[2022-04-07 11:56] chicken-biryani commented on #204
Hey @Iheanacho-ai it's already been worked upon. It's under review at the moment. Feel free to take up another.

[2022-04-07 12:21] YashKandalkar commented on #160
Hey @Iheanacho-ai sorry, there was another issue made for making this component using ant design (https://github.com/moja-global/FLINT-UI/issues/177).
@chicken-biryani can you close this one?

[2022-04-07 12:35] #160 closed

[2022-04-07 13:15] Akshit42-hue commented on #218
Sure @Iheanacho-ai will discuss in slack

[2022-04-07 16:46] padmajabhol commented on #178
Any updates on this @ritikalohia ? Please reach out to us if you need help.

[2022-04-07 17:07] chicken-biryani commented on #207
@soumyag123 any updates?

[2022-04-07 18:46] chicken-biryani commented on #183
@arpita221b would you be okay with someone else working on this issue?

[2022-04-08 12:06] Akshit42-hue commented on #218
Hey @chicken-biryani can you please give some hints on which file I want to change, I can't able to replicate the issue

[2022-04-08 12:53] padmajabhol commented on #218
@Akshit42-hue You basically have to change [this](https://github.com/moja-global/FLINT-UI/blob/64f79d6c176788b98c19ac6facadb5b4fcbf1aa5/flint.ui/src/components/Footer/Footer.vue#L80)

[2022-04-08 13:04] Akshit42-hue commented on #218
hey @padmajabhol thanks for joining the conversation
you are talking about flint-ui website
![Screenshot from 2022-04-08 18-31-17](https://user-images.githubusercontent.com/59443454/162440925-15cca404-8173-4d7c-9dac-f8ea9f122dfb.png)
I am talking about moja global website
![Screenshot from 2022-04-08 18-32-40](https://user-images.githubusercontent.com/59443454/162441081-3d303c7e-e645-4787-9dfa-1d5

[2022-04-08 14:14] chicken-biryani commented on #218
Hi @Akshit42-hue we don't make changes in the official moja global site.

Please try to keep changes to the Flint UI and community website.

[2022-04-08 17:53] ritikalohia commented on #178
yeah, i really need help at this time. I am familiar with vue.js but dont know how to handle antdesign with  vue.

[2022-04-08 18:37] anamika-yadav99 commented on #207
Hi @chicken-biryani. I'm an outreachy applicant. I have finished the recommended task. I see all the issues have been assigned but very few any updates even after 5 days. Can I take up any of the issue and create a PR or should I wait for new issue?

[2022-04-08 18:41] chicken-biryani commented on #207
Hi @anamika-yadav99

Ideally, you should ask the person who has been assigned the issue first. If they don't reply within 2-3 days... Take up the issue.

Also, I believe moja global - outreachy is currently focusing somewhere else at the moment. Have you joined our slack and seen the Outreachy channel?

[2022-04-08 18:42] anamika-yadav99 commented on #183
Hi @chicken-biryani. I'm an outreachy applicant. I have finished the recommended task. I see all the issues have been assigned. Since there is no response from @arpita221b . Can I take up this one?

[2022-04-08 19:03] anamika-yadav99 commented on #207
@chicken-biryani sorry I deleted the comment as I felt it would not be good to take up the issue assigned to someone else.
 Yes, I have joined the slack channel and finished the task already. I was looking forward to contributing to the existing projects.There is no specific repo mentioned to work on for outreachy applicants because it's a pilot project. Can you guide me with the next step for out

[2022-04-08 19:05] chicken-biryani commented on #207
Hi, @anamika-yadav99 it's okay to be unsure. But try not to delete comments.

Yes, I can try to guide you or help you out over the slack #outreachy channel.

[2022-04-08 19:23] anamika-yadav99 commented on #207
Thanks @chicken-biryani I have posted my question in the outreachy channel.

[2022-04-09 10:17] SanjaySinghRajpoot opened #226 "Bug: Alignment of text and Dates is not proper for `RothC` page"
### Describe the bug.

- Text Alignment is not proper.

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

Text Alignment should be proper

### Screenshots.
![Screenshot from 2022-04-09 15-44-09](https://user-images.githubusercontent.com/67458417/162567701-f32d043e-66e1-464c-9065-c12965d07674.png)

### Operating Environment

Ubuntu 20.04

### Additional Infor

[2022-04-09 10:20] #218 closed

[2022-04-09 11:16] SanjaySinghRajpoot opened #227 "Feature Request: Add Environment Variables to the `FLINT-UI` project"
### Is your feature request related to a problem? Please describe.

All the URL needs to be updated with the new `dotenv.config();` variable. Currently, all these URL points to a localhost address which are not dynamic in nature.

### Describe the solution you'd like.

- Update the URLs
- Replace static URL with dynamic URLs
- Add new `.env` file
- Install required dependencies.

### Describe alte

[2022-04-09 15:20] Palaksharma23 opened #228 "Documentation: Customization of top left corner of documentation"
### What is the current documentation state?

![image](https://user-images.githubusercontent.com/87171452/162580300-61cf4c74-16c6-414a-a2b9-92b3d0373eb1.png)

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

this can be customized to
![image](https://user-images.githubusercontent.com/87171452/162580336-8be89949-f814-415

[2022-04-09 15:38] #228 closed

[2022-04-10 05:27] Palaksharma23 opened #230 "Feature Request: we can remove visualize on graph button as it is a bad ux"
### Is your feature request related to a problem? Please describe.

when we click on the point output table option on the simulator page it leads to
![image](https://user-images.githubusercontent.com/87171452/162602739-620065fc-2131-4f3b-a557-13aed8da3f10.png)

clicking on visualize on graph leads to
![image](https://user-images.githubusercontent.com/87171452/162602767-3a9cbedc-1253-4045-bea5-2bf3

[2022-04-10 19:59] Janvi-Thakkar commented on #207
Hello @soumyag123, Do you need any help?

[2022-04-11 10:11] padmajabhol commented on #178
@ritikalohia , please ping me on slack.

[2022-04-13 07:42] #230 closed

[2022-04-13 07:55] HarshCasper opened #233 "Documentation: Write a user story for Point Model"
### What is the current documentation state?

Currently, we don't have any specific documentation on specific user stories for FLINT-UI. We need to document them one by one to ensure users have an understanding base for getting started with FLINT models.

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

Setup FLINT-UI l

[2022-04-13 07:59] HarshCasper opened #234 "Documentation: Write a user story for RothC"
### What is the current documentation state?

Currently, we don't have any specific documentation on specific user stories for FLINT-UI. We need to document them one by one to ensure users have an understanding base for getting started with FLINT models.

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

Setup FLINT-UI l

[2022-04-13 08:34] Akronix opened #235 "Bug: Failed to build using docker-compose up"
### Describe the bug.

I was following the instructions to install FLINT-UI described in the README file, but the installation failed when I did `docker-compose up`. This is the log:
[code]
So I tried to add the missing the dependency by adding the line `RUN ["yarn", "add", "@revolist/revogrid"]` to the Dockerfile for the fluint.ui submodule. Then I got a similar error of a missing dependency:

[c

[2022-04-13 08:56] chicken-biryani commented on #234
A good start would be to learn what a user story is.

There are a lot of tools like Agile that will help you with it.

However, we would like to create a table in google docs for the user stories.

The template for the table is-

I want to (Task to be performed) | So that I can (Achieve goal) | Components involved | Additional notes.

Remember you don't have to fill all rows and column in a go. Th

[2022-04-13 08:57] chicken-biryani commented on #233
A good start would be to learn what a user story is.

There are a lot of tools like Agile that will help you with it.

However, we would like to create a table in google docs for the user stories.

The template for the table is-

I want to (Task to be performed) | So that I can (Achieve goal) | Components involved | Additional notes.

Remember you don't have to fill all rows and column in a go. Th

[2022-04-13 12:54] Iheanacho-ai commented on #233
can i take this on, this seems like it would be a challenge and it is something i would absolutely love to try out

[2022-04-13 13:02] Iheanacho-ai commented on #234
can i work on this one, it seems like a challenge that i will definitely want to try it out

[2022-04-13 16:14] jiisa-k commented on #227
Hello,
I'd like to work on this issue. Can it be assigned to me?

[2022-04-15 07:13] #195 closed

[2022-04-15 09:50] YashKandalkar commented on #128
Hey, @aornugent I had a few questions regarding the input files for the simulation.
1. Is Step 5 mentioned here the same as the Providers config in the [gcbm.js file](https://github.com/moja-global/FLINT-UI/blob/fa8a8779faaf6e86cf0ab9fb9273f0ff74a6993a/flint.ui/src/store/modules/gcbm.js#L237)?
2. As you suggested, the preprocessing and template config generation can be done on the backend, then th

[2022-04-15 14:51] rushikeshadhav commented on #217
Can I take this up ? Been 14 days since assigned.

[2022-04-15 15:45] chicken-biryani commented on #217
Hi, @Ishika414

How are you? @rushikeshadhav has shown interest in working on this issue. Would you be okay with giving it to him, if you're not working on it.

(If Ishika doesn't reply in a few days we can assume that the issue has been stalled and @rushikeshadhav you can take it up.)

[2022-04-15 22:14] Janvi-Thakkar opened #237 "Bug: Extra width of configuration cards of RothC are causing appearance of horizontal scrollbar"
### Describe the bug.

The outer division of configuration cards on RothC page is having 100% width, extra padding, and margin as well, which is causing the appearance of a horizontal scrollbar.

### Describe the steps to reproduce the behavior.

1) Open the Flint-UI homepage.
2) Explore the RothC page.
3) See the scrollbar with extra white space on scrolling.

### Expected behavior.

There should

[2022-04-15 22:24] Janvi-Thakkar opened #238 "Bug: There is a difference in hover effects of the button."
### Describe the bug.

There should be unified hover effects for buttons. But buttons of different pages are having different hover effects.

### Describe the steps to reproduce the behavior.

1) Open the Flint-UI homepage.
2) Hover on explore button and see the effect.
3) Explore the RothC/ GCBM page.
4) Check the hover effects of configuration buttons.

### Expected behavior.

The explore button

[2022-04-16 09:11] tewarig commented on #238
can I work on this issue?

[2022-04-16 09:14] tewarig commented on #237
i think this might be happening because some element is overflowing on the y-axis... we can avoid such issues by using overflow-y: hidden  please assign this to me would love to fix this

[2022-04-16 09:15] tewarig commented on #238
also one thing I am new here can you provide a link to RothC/ GCBM page

[2022-04-16 12:46] Janvi-Thakkar commented on #237
Hello @tewarig, maybe you misunderstood. It's overflowing on the x-axis. Overflow of the y-axis can not affect horizontal content. So, overflow-y: hidden will not work in this case.

[2022-04-16 12:50] Janvi-Thakkar commented on #238
@tewarig Welcome to Moja Global! You can click on the explore button given below RothC/ GCBM as shown in the picture to reach RothC/ GCBM page.

[2022-04-16 12:53] Janvi-Thakkar commented on #226
@SanjaySinghRajpoot @HarshCasper As it's not assigned yet to anyone, may I work on this if it's not limited to SheCodesAfrica?

[2022-04-16 13:57] tewarig commented on #237
yes i mean x axis only ... should have attended all maths classes... can i work on this ?

[2022-04-16 14:27] Janvi-Thakkar commented on #237
It happens! Overflow-x:hidden would just clip the content. so, it's not the feasible solution here. In my opinion, resizing and aligning the component is a solution. But you can work as per your insights. @chicken-biryani would be able to assign you.

[2022-04-16 14:34] Janvi-Thakkar commented on #207
@chicken-biryani as the issue is idle for a long time, may I take this up? @soumyag123 are you with it?

[2022-04-16 14:36] chicken-biryani commented on #207
@Janvi-Thakkar Yea go ahead!

[2022-04-16 14:38] Janvi-Thakkar commented on #207
@chicken-biryani Thank You!

[2022-04-16 17:32] HarshCasper commented on #226
Its limited to SheCodesAfrica as of now.

[2022-04-16 17:47] Janvi-Thakkar commented on #226
@HarshCasper, Okay.

[2022-04-17 12:41] void-hr commented on #238
Can you assign me this issue?

[2022-04-17 12:51] Janvi-Thakkar commented on #238
@chicken-biryani

[2022-04-17 13:04] chicken-biryani commented on #238
@Janvi-Thakkar since @tewarig commented first maybe he can take it up?

[2022-04-17 13:21] Janvi-Thakkar commented on #238
@chicken-biryani, I thought he is working on another one right now. I don't know what is preferable to do in such a case.😅

[2022-04-17 13:22] void-hr commented on #238
@chicken-biryani  @Janvi-Thakkar No problem, @tewarig in case you haven't started yet please allow me to close this issue as I have been working for a while on this issue.

[2022-04-17 13:24] chicken-biryani commented on #238
@void-hr if you've already worked on it I think you should continue and close this one.

Hope that's okay @tewarig?

[2022-04-17 13:36] tewarig commented on #238
yes that is okay

[2022-04-17 14:59] void-hr commented on #238
[Fix: difference in hover effects of button ](https://github.com/moja-global/FLINT-UI/pull/240)

[2022-04-18 05:59] #235 closed

[2022-04-18 06:15] sohamsshah opened #243 "Refactor: Update Button Component with Ant Design"
### Is your feature request related to a problem? Please describe.

Currently at multiple places in codebase, `Button` is used (not necessarily in component form).

In the [`/components/Button/Button.vue`](https://github.com/moja-global/FLINT-UI/blob/master/flint.ui/src/components/Button/Button.vue) one can find implementation of Button.

Since our project is actively Migrating to Ant Design, we s

[2022-04-18 06:26] sohamsshah opened #244 "Refactor: Update `DatePickerPoint.vue` with Ant Design"
### Is your feature request related to a problem? Please describe.

Currently our Point DatePicker Component is built with pure CSS implementation.
One can check out `DatePicker.vue` component where Ant Design Implementation is present.

This component is used in [`ConfigurationsPoint.vue`](flint.ui\src\views\flint\ConfigurationsPoint.vue) file.

Reason for having separate DatePickers for each Con

[2022-04-18 06:30] sohamsshah opened #245 "Refactor: Update `DatePickerRothC.vue` with Ant Design"
### Is your feature request related to a problem? Please describe.

Currently our RothC DatePicker Component is built with pure CSS implementation.
One can check out `DatePicker.vue` component where Ant Design Implementation is present.

This component is used in [`ConfigurationsRothC.vue`](flint.ui\src\views\flint\ConfigurationsRothC.vue) file.

Reason for having separate DatePickers for each Con

[2022-04-18 06:42] sohamsshah opened #246 "UI Update: RothC Parameter Configuration Page Redesign + Refactor"
### Is your feature request related to a problem? Please describe.

Based on the new design:
![image](https://user-images.githubusercontent.com/47717492/163766510-e1f67fe4-6b57-4ad5-9a90-df4271ab217c.png)

All of the parameter configuration in the present implementation is in different routes. We need a single page form to input and test out RothC configuration interface. This issue focuses on UI

[2022-04-18 06:48] sohamsshah opened #247 "Refactor: Update `TableRothC.vue` file to use Ant Design Tables"
### Is your feature request related to a problem? Please describe.

Currently the [`TableRothC.vue`](flint.ui\src\views\flint\TableRothC.vue) file is implemented with raw CSS and doesn't fit with latest UI design.

We will be using the Table component at multiple places in configurations for data display of interfaces.

### Describe the solution you'd like.

Refactor the `TableRothC.vue` file by r

[2022-04-18 06:50] sohamsshah opened #248 "Refactor: Update `TablePoint.vue` file to use Ant Design Tables"
### Is your feature request related to a problem? Please describe.

Currently the [`TablePoint.vue`](flint.ui\src\views\flint\TablePoint.vue) file is implemented with raw CSS and doesn't fit with latest UI design.

We will be using the Table component at multiple places in configurations for data display of interfaces.

### Describe the solution you'd like.

Refactor the `TablePoint.vue` file by r

[2022-04-18 06:58] Janvi-Thakkar commented on #248
@sohamsshah I would like to work on this!

[2022-04-18 08:19] sohamsshah commented on #248
Sure @Janvi-Thakkar , please go ahead. Make sure to build taking reusability in mind too ✌

[2022-04-18 08:39] Akronix commented on #235
Now it works. Thank you @HarshCasper !

[2022-04-18 10:13] SanjaySinghRajpoot commented on #247
I would like to work on this issue.

[2022-04-18 11:26] sohamsshah commented on #247
Sure @SanjaySinghRajpoot!

[2022-04-18 16:35] Janvi-Thakkar commented on #248
Sure, Thank You!

[2022-04-19 19:34] Timonwa commented on #226
Hi @HarshCasper can I take up this issue? I'm from SheCodeAfrica.

[2022-04-20 16:58] SanjaySinghRajpoot opened #249 "Feature Request: Update data visualisation table page for `Point` and `RothC`"
### Is your feature request related to a problem? Please describe.

The data visualisation table page needs to be upgraded with respect to other UI changes that have been made. So that the entire website follows the same style across all the pages.

### Describe the solution you'd like.

I would like to update the `Point` and `RothC` pages with the new design.

### Describe alternatives you've con

[2022-04-20 16:58] SanjaySinghRajpoot commented on #249
I would like to work on this issue.

Thank You

[2022-04-23 11:20] #207 closed

[2022-04-24 05:51] arpita221b commented on #183
@chicken-biryani Hey Shloka I am so sorry I wasn't active for so many days.
I texted you on slack that you can assign this issue to someone else, because I had to do some other work. Sorry :'(

[2022-04-25 19:54] Timonwa commented on #245
Good day, can I work on this issue?

[2022-04-26 09:25] padmajabhol commented on #245
Sure, all the best!

[2022-04-26 20:24] Akronix opened #258 "Bug: exception when trying to run a simulation of GCBM"
### Describe the bug.

There's an exception when trying to run a simulation of GCBM using the docker-compose setup.
This is the output of the terminal when I press the "Run simulation" button:
[code]

[2022-04-26 20:28] Akronix opened #259 "Feature Request: Use error toasts and disable download output when there's a problem with a GCBM simulation"
### Is your feature request related to a problem? Please describe.

When there's an error when running the simulation (take, for instance, #258) Instead of getting an error toast, you get this  message:
![image](https://user-images.githubusercontent.com/2631430/165386336-b5a08272-00b9-4eef-b040-21fadac28a47.png)
which is actually misleading since the execution was unsuccessful and there's no actua

[2022-04-28 23:06] Timonwa commented on #244
Good day @sohamsshah, can I work on this issue?

[2022-04-30 04:18] #226 closed

[2022-05-01 12:55] #245 closed

[2022-05-02 10:31] #249 closed

[2022-05-05 18:29] Iheanacho-ai commented on #243
can i take this issue up

[2022-05-05 18:55] #244 closed

[2022-05-05 18:56] #177 closed

[2022-05-05 21:59] Timonwa opened #263 "Bug: Content of Homepage content not aligned properly and over flows on smaller screen"
### Describe the bug.

1. When the homepage is viewed on screens smaller than 375px, the main content overflows from its container.
2. on medium-size screens, the main content and the banner content do not have the same padding/margin.

### Describe the steps to reproduce the behaviour.

View the homepage on different screen sizes

### Expected behaviour.

The banner and main content are supposed

[2022-05-05 22:01] Timonwa commented on #263
I would like to work on this issue and make the page more responsive.

[2022-05-06 04:48] #238 closed

[2022-05-08 19:42] Janvi-Thakkar opened #265 "Bug: Sliding one of the sliders is showing shaking effects on other"
### Describe the bug.

When we slide any of the sliders on the point page it makes other sliders shake. This is happening because the span of indication number is expanding as the number is increasing the digits.

### Describe the steps to reproduce the behavior.

1. Go to the Flint-UI homepage.
2. Explore the Point page.
3. Slide any of the sliders and observe the behavior.

### Expected behavior

[2022-05-08 19:43] Janvi-Thakkar commented on #265
@chicken-biryani if someone shows willingness to take this up, please assign it to him/her else I would love to fix it:)

[2022-05-08 19:59] Janvi-Thakkar opened #266 "Bug: Map on Point page is blending with the UI"
### Describe the bug.

When we see the geographical representation using a map, the map is opening on the same screen and it is blending in with the UI. We can use Popup to show the map.

### Describe the steps to reproduce the behavior.

1. Go to the Flint-UI homepage.
2. Explore the Point page.
3. Click on the "Click here" link provided for the Map.
4. Observe the behavior.

### Expected behavio

[2022-05-08 20:01] Janvi-Thakkar commented on #266
@chicken-biryani I would like to take this up!

[2022-05-09 10:48] Iheanacho-ai commented on #265
can i take this on please

[2022-05-09 21:18] Janvi-Thakkar commented on #265
@chicken-biryani

[2022-05-10 18:24] chicken-biryani commented on #266
@Janvi-Thakkar go ahead

[2022-05-10 19:32] Timonwa opened #268 "Bug: Navbar not spaced properly on smaller screens."
### Describe the bug.

The logo and burger are very close together and centred on smaller screens. with it left and right spaces not equal to the rest of the content on the pages.

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

 its left and right spaces should equal the rest of the content spaces on the pages.

### Screenshots.

![FireShot Capture 017 -

[2022-05-10 19:35] Timonwa commented on #268
i can work on this.

[2022-05-10 20:03] Timonwa opened #270 "Bug: GCBM simulation workflow page content is not responsive on screen size smaller than 1060px."
### Describe the bug.

_No response_

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

It Should be responsive and look good on smaller screens.

### Screenshots.

![FireShot Capture 024 - moja global FLINT UI - localhost](https://user-images.githubusercontent.com/63044364/167712257-352411cd-3f47-4bb0-b2f5-3b1715f3a0f7.png)
![FireShot Capture 022 - moja glo

[2022-05-10 20:03] Timonwa commented on #270
i can work on this

[2022-05-19 20:41] #248 closed

[2022-05-21 20:01] Namyalg opened #274 "Documentation: Update Sphinx theme to furo"
### What is the current documentation state?

The documentation currently uses the `read-the-docs` theme.

### Why do you want to improve the statement?

The main documentation has been revamped, with a change in theme to `furo`. To maintain uniformity across all projects, the documentation requires a change in theme

[2022-05-21 22:40] Timonwa commented on #217
Good day, can this assigned to me, if the current assignee isn't working on it anymore? @chicken-biryani

[2022-05-21 22:41] chicken-biryani commented on #217
@Timonwa go ahead!

[2022-05-24 08:00] Timonwa commented on #237
Hi @chicken-biryani , the pull request for this issue has been merged but this issue is still open. I think it should be closed

[2022-05-24 08:34] #263 closed

[2022-05-24 08:35] #268 closed

[2022-05-24 11:14] Timonwa commented on #217
@SanjaySinghRajpoot @Janvi-Thakkar  @YashKandalkar
I saw the copyright has a different colour. do I leave it like that or change it to white like the rest of the text in the footer?

[2022-05-25 07:10] #270 closed

[2022-05-26 17:53] ayush78781 commented on #274
Hey! @Namyalg @padmajabhol @HarshCasper I worked upon this issue and converted the doc theme of Flint.Cloud & Flint.UI to furo. Here are some of the screenshots attached. Please let me know if any edits required.
<img width="952" alt="image" src="https://user-images.githubusercontent.com/76848435/170545763-bd99cb39-9077-44fc-854e-b364785c99bb.png">
<img width="960" alt="image" src="https://user-im

[2022-05-27 14:47] Namyalg commented on #274
Looks good, go ahead and raise a PR

[2022-05-27 19:34] YashKandalkar commented on #247
@chicken-biryani this can be closed, a fix was merged in #276

[2022-05-27 19:34] #247 closed

[2022-05-27 19:36] chicken-biryani commented on #247
@YashKandalkar feel free to close issues and/or merge PRs now that you're a member as well!

You may get nervous at first but then you get used to it.

[2022-05-27 19:40] YashKandalkar commented on #178
@chicken-biryani Table components are added in #271 & #276, this can be closed

[2022-05-27 19:40] #178 closed

[2022-05-27 19:48] #237 closed

[2022-05-29 07:34] YashKandalkar commented on #183
I'd like to work on this!

[2022-05-29 07:55] #227 closed

[2022-05-29 08:29] YashKandalkar commented on #246
Hi @sohamsshah If you haven't started working yet, can I take this one?
I was working on https://github.com/moja-global/FLINT-UI/issues/183 but Accordion doesn't require a new component, a-collapse can be directly used.
I'll just convert the RothC views to components and show them on the configurations/rothc route. Someone else can work on fixing the UI of the input fields, and the other things yo

[2022-05-29 08:36] sohamsshah commented on #246
Hi @YashKandalkar , you can work on this! 👍

[2022-05-30 09:14] #183 closed

[2022-05-30 09:14] #246 closed

[2022-05-30 09:23] YashKandalkar commented on #158
Closing as we didn't require a separate Accordion component, `a-collapse` can directly be used.

[2022-05-30 10:43] #274 closed

[2022-05-30 12:13] Timonwa opened #284 "Documentation: The link to the documentations should be updated on the webpage."
### What is the current documentation state?
On the flint UI app, the link to the documentation site takes the user to the old documentation.

### Where is this stated?

### Why do you want to improve the statement?
Since we have new documentation, I feel the link on the navbar pointing to the documentation site should also be updated.

### Proposed Statement
the old link: https://docs.moja.global

[2022-05-30 12:58] thisiskaransgit commented on #284
I would like to work on this issue :)

[2022-05-31 02:13] #150 closed

[2022-05-31 08:01] SanjaySinghRajpoot opened #286 "Bug: Stepper GCBM component Relative Position"
### Describe the bug.

Stepper GCBM component has a relative position property.

### Describe the steps to reproduce the behavior.

Compile flint-ui and head over to the GCBM page.

### Expected behavior.

The Stepper component should have a fixed position. This can be achieved by changing the `bottom-0` attribute.

### Screenshots.
![Screenshot from 2022-05-31 13-25-21](https://user-images.github

[2022-06-01 09:24] CrystalSage commented on #286
I can solve this if anyone's not working on it already.

[2022-06-01 09:26] chicken-biryani commented on #286
@CrystalSage please gi ahead!

[2022-06-01 14:22] #286 closed

[2022-06-02 03:28] Timonwa commented on #266
Can i take is issue? @chicken-biryani

[2022-06-02 03:35] Timonwa commented on #204
Hi @chicken-biryani I fixed this when I worked on #278

[2022-06-02 08:36] chicken-biryani commented on #204
Awesome. So we can close it.

[2022-06-02 08:37] #204 closed

[2022-06-02 08:38] chicken-biryani commented on #266
@Timonwa if @Janvi-Thakkar isn't currently working on it then definitely!

[2022-06-03 19:43] Timonwa commented on #284
@thisiskaransgit No one is working on it yet. But let's confirm that the links are correct before you make the corrections.

@chicken-biryani @HarshCasper. Please can you confirm if the changes I suggested in this issue is needed so that @thisiskaransgit can work on it.

[2022-06-10 13:46] #170 closed

[2022-06-12 04:39] arishmaurya commented on #233
@HarshCasper sir can i work on this if Iheanacho is not working on this ?

[2022-06-14 12:44] Janvi-Thakkar opened #308 "Bug: Design and develop cards for the Point, RothC and GCBM description on homepage."
### Is your feature request related to a problem? Please describe.

As of now, Point, RothC, and GCBM descriptions along with the explore buttons look as shown in the image below.

![image](https://user-images.githubusercontent.com/55620053/173578416-915bba05-4443-42ea-a535-b32b084bbfc6.png)

### Describe the solution you'd like.

Adding cards around these sections would increase the usability and

[2022-06-14 12:45] Janvi-Thakkar commented on #308
@chicken-biryani Can you please assign this to me?

[2022-06-16 04:03] #308 closed

[2022-06-16 07:45] Janvi-Thakkar commented on #266
I did not work on this because from May 28th's meeting, Yash and I asked regarding this to Shubham and got to know that this was developed just as a demo of UI. The longitudes and latitudes are nowhere used in the application. Until then these things were not clear to anyone. Sorry, I should update the details here earlier but I couldn't.

@chicken-biryani Should I enhance the UI in this case?

[2022-06-16 10:33] chicken-biryani commented on #284
@Timonwa that is correct.

@thisiskaransgit please feel free to work on it. Sorry for not replying sooner.

[2022-06-16 10:36] chicken-biryani commented on #266
@Janvi-Thakkar
I think you can.

However I would like to hear your and
@YashKandalkar 's opinion on the same as well.

As current mentees it's the best that you take ownership of the projects you're currently working on.

[2022-06-16 14:18] YashKandalkar commented on #266
@Janvi-Thakkar Yeah, I don't think we need a Modal now. There is still a problem tho - the input dates should come behind the map (probably a z-index issue), we can make a PR for that and close this issue.
![image](https://user-images.githubusercontent.com/35102959/174090253-f35edf87-94ad-4d50-a22a-7bc236d8b46a.png)

[2022-06-16 21:47] Janvi-Thakkar commented on #266
@YashKandalkar @chicken-biryani I think what I can do for now is make a modal to enhance the UI and leave the functionalities as it is for now. Later on, whenever we start using these parameters in simulation, we can integrate the logic at that time. In this way, we would be at least able to make UI presentable!!

[2022-06-17 11:45] YashKandalkar commented on #266
@Janvi-Thakkar Sounds good!

[2022-06-17 14:14] chicken-biryani commented on #128
@YashKandalkar the wireframe under this issue will be of huge help on what is to be worked on.

[2022-06-18 11:43] CrystalSage opened #314 "Refactor: Replace Toasts with Ant Design Notifications"
### Is your feature request related to a problem? Please describe.

Currently, the default way of notifying users is through `Toast` interface, offered by [vue-toastification](https://github.com/Maronato/vue-toastification). The proposal, as discussed on Slack, is to use Ant Design's [Notifications](https://antdv.com/components/notification) instead.

This way, we can get rid of the `vue-toastific

[2022-06-18 11:43] CrystalSage commented on #314
I can work on this. Can someone assign this to me? @chicken-biryani maybe? :)

[2022-06-18 14:27] chicken-biryani commented on #314
@CrystalSage please go ahead.

[2022-06-18 15:01] thisiskaransgit commented on #284
Hey @Timonwa @chicken-biryani kindly review the PR 😊

[2022-06-19 15:33] #314 closed

[2022-06-20 17:54] YashKandalkar opened #318 "migration: migrate ConfigurationsRothC to Vue 3 Composition API"
TODO:
- Migrate the ConfigurationsRothC file in src/views/flint/ to use CompositionAPI (check out [this](https://github.com/moja-global/FLINT-UI/pull/311) PR by @Palaksharma23, or any other migration PR by her for reference.).
- Also, use :expand-icon-position prop and enable the default arrow in the a-collapse component.

Currently, we are using [here](https://github.com/moja-global/FLINT-UI/blob

[2022-06-20 19:16] Palaksharma23 commented on #318
If anyone has any doubt, you can ping me on slack :). I would be happy to help you.

[2022-06-21 08:48] chicken-biryani commented on #176
@YashKandalkar @Palaksharma23 is this issue to be worked upon or can we close it?

[2022-06-21 13:41] Palaksharma23 commented on #176
I assume the slider we currently have is fine. After some months, we will be able to directly import it from our UI library. We can close it for now @chicken-biryani :).

[2022-06-21 15:50] YashKandalkar commented on #318
@CrystalSage Sure!

[2022-06-24 02:16] #123 closed

[2022-06-25 15:29] YashKandalkar opened #327 "CI: add feat/gcbm-simulation-simulator branch in main.yml"
### Problem
The CI workflow (build, lint, etc.) only runs on master. I think we should add the `feat/gcbm-simulation-simulator` branch as it helps when PRs are created on that branch.

### Expected solution
Add `feat/gcbm-simulation-simulator` in [main.yml](https://github.com/moja-global/FLINT-UI/blob/8ff9d49b51c28c5b08a620a699e7d05301fe3985/.github/workflows/main.yml#L6)

[2022-06-26 14:26] FrozenSamurai commented on #327
Please assign this issue to me.

[2022-06-26 15:14] #327 closed

[2022-06-30 14:03] #284 closed

[2022-07-05 17:41] YashKandalkar opened #333 "migration: migrate ConfigurationsPoint to Vue 3 (Composition API)"
Migrate the [ConfigurationsPoint file](https://github.com/moja-global/FLINT-UI/blob/master/flint.ui/src/views/flint/ConfigurationsPoint.vue) in src/views/flint/ to use CompositionAPI (check out [this](https://github.com/moja-global/FLINT-UI/pull/311) PR by @Palaksharma23, or any other migration PR for reference.).

If you have any questions or need help please reach out to me (or any other communi

[2022-07-05 18:03] YashKandalkar opened #334 "migration: migrate Table.vue to Vue 3 (Composition API)"
- Migrate the [Table.vue file](https://github.com/moja-global/FLINT-UI/blob/master/flint.ui/src/views/flint/Table.vue) in src/views/flint/ to use CompositionAPI (check out https://github.com/moja-global/FLINT-UI/pull/311 PR by @Palaksharma23, or any other migration PR for reference.).
- Rename Table.vue to PointOutputTable.vue to make the name more descriptive.

If you have any questions or need h

[2022-07-05 18:05] YashKandalkar opened #335 "migration: migrate PointOuterTable to Vue 3 (Composition API)"
- Migrate the [PointOuterTable file](https://github.com/moja-global/FLINT-UI/blob/master/flint.ui/src/views/flint/PointOuterTable.vue) in src/views/flint/ to use CompositionAPI (check out https://github.com/moja-global/FLINT-UI/pull/311 PR by @Palaksharma23, or any other migration PR for reference.).
- Rename PointOuterTable to PointOutputContainer to make the name more descriptive

If you have an

[2022-07-05 18:07] YashKandalkar opened #336 "migration: migrate PointOutput to Vue 3 (Composition API)"
- Migrate the [PointOutput.vue file](https://github.com/moja-global/FLINT-UI/blob/master/flint.ui/src/views/flint/PointOutput.vue) in src/views/flint/ to use CompositionAPI (check out https://github.com/moja-global/FLINT-UI/pull/311 PR by @Palaksharma23, or any other migration PR for reference.).
- Rename PointOutput.vue to PointOutputGraph.vue to make the name more descriptive.

If you have any q

[2022-07-05 19:57] YashKandalkar opened #337 "migration: migrate RothCOuterTable to Vue 3 (Composition API)"
- Migrate the [RothCOuterTable.vue file](https://github.com/moja-global/FLINT-UI/blob/master/flint.ui/src/views/flint/RothCOuterTable.vue) in src/views/flint/ to use CompositionAPI (check out https://github.com/moja-global/FLINT-UI/pull/311 PR by @Palaksharma23, or any other migration PR for reference.).
- Rename RothCOuterTable.vue to RothCOutputContainer.vue to make the name more descriptive.

I

[2022-07-05 19:59] YashKandalkar opened #338 "migration: migrate RothCOutput.vue to Vue 3 (Composition API)"
- Migrate the [RothCOutput.vue file](https://github.com/moja-global/FLINT-UI/blob/master/flint.ui/src/views/flint/RothCOutput.vue) in src/views/flint/ to use CompositionAPI (check out https://github.com/moja-global/FLINT-UI/pull/311 PR by @Palaksharma23, or any other migration PR for reference.).
- Rename RothCOutput.vue to RothCOutputGraph.vue to make the name more descriptive.

If you have any q

[2022-07-06 04:19] CrystalSage commented on #333
I think I can solve this.

[2022-07-06 05:28] disha1202 commented on #334
Hi @YashKandalkar,
I would like to work on this issue.
Can you please assign it to me.

[2022-07-07 02:21] chicken-biryani commented on #243
@YashKandalkar is this issue still valid to be worked upon?

[2022-07-13 01:47] #243 closed

[2022-07-13 02:14] #156 closed

[2022-07-15 15:13] Palaksharma23 commented on #336
Sure @Timonwa Go ahead! 🚀

[2022-07-18 21:19] Janvi-Thakkar commented on #265
Hello @Iheanacho-ai, are you working on this? or else we can assign it to some other contributor.

[2022-07-20 06:09] bhavyastar commented on #338
I would like to work on this issue. Would you please assign me? @YashKandalkar

[2022-07-21 02:14] #234 closed

[2022-07-21 06:25] chicken-biryani commented on #338
@bhavyastar please go ahead.

[2022-07-24 15:01] #334 closed

[2022-07-24 15:02] #333 closed

[2022-07-27 10:30] Crystalsage commented on #335
I can work on this.

[2022-07-27 19:01] chicken-biryani commented on #335
@Crystalsage go ahead.

[2022-07-28 13:51] Crystalsage opened #349 "Feature Request: Implement a check to detect if the pool values are unchanged"
### Is your feature request related to a problem? Please describe.

Currently in the Point simulation, a user can run the simulation multiple times with the same pool values. We want a better way to handle this.

These kinds of checks will help us in GCBM simulation too, since the simulation times are longer there and we don't want to trigger a simulation with the same values.

### Describe the so

[2022-07-28 13:51] Crystalsage commented on #349
I'd like to work on this.

[2022-07-29 22:08] chicken-biryani commented on #349
@YashKandalkar

[2022-07-30 07:34] YashKandalkar commented on #349
@Crystalsage This looks awesome!

[2022-07-30 07:38] #335 closed

[2022-08-03 02:16] #259 closed

[2022-08-03 02:16] #258 closed

[2022-08-06 16:05] Crystalsage opened #353 "Bug: Displaying table before running Point simulation causes a crash"
### Describe the bug.

When we go to `/flint/configurations/point` and click the `Point Output Table` button directly without running the simulation first, the whole thing crashes without any warnings or indicators.

Here's the stack trace:

[code]

### Describe the steps to reproduce the behavior.

1. Go to `/flint/configurations/point`.
2. Click `Point Output Table` button. This should crash and

[2022-08-06 16:07] Crystalsage commented on #353
I'd like to work on this.

[2022-08-13 22:28] Janvi-Thakkar opened #357 "Feature Request: Replace ant-dv datepicker by ui-library datepicker in Point and RothC"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

### Additional context.

_No response_

[2022-08-14 20:36] Timonwa commented on #266
Hi @Janvi-Thakkar, have you created the modal yet for the map or what's the update on this issue?

[2022-08-14 20:43] Janvi-Thakkar commented on #266
Hello @Timonwa, yes modal has been created in UI library project and now we are working on replacing ant-design-vue components of Flint.UI with UI library components. So this will be replaced soon:)

[2022-08-14 21:02] Timonwa commented on #266
Ok. Thank you for the update. @Janvi-Thakkar

[2022-08-15 22:36] Janvi-Thakkar commented on #266
@chicken-biryani @Timonwa @YashKandalkar I tried to use the modal I created in UI Library. Below is the raw work I could do just by importing the modal. However, we can surely work on the appearance further!
![image](https://user-images.githubusercontent.com/55620053/184732401-862b3dcd-4e50-48d7-a174-cc466d8f626e.png)

Please let me know your thoughts! if this looks okay, then I would raise the PR

[2022-08-15 22:45] Timonwa commented on #266
It looks good to me @Janvi-Thakkar, I like it. But there isn't a close button for the modal.

[2022-08-15 22:56] chicken-biryani commented on #266
Looks neat!

Great job @Janvi-Thakkar! I agree with @Timonwa about the closing part.

[2022-08-15 23:18] Janvi-Thakkar commented on #266
@chicken-biryani @Timonwa, as a general modal property we would be able to close by clicking on the dark gray area of the screen! However, in the future, we are planning to provide the optional prop to add or remove the close button!

[2022-08-16 18:47] chicken-biryani commented on #266
@Janvi-Thakkar

I think it's good. Would be happy to hear @YashKandalkar 's opinion before proceeding.

[2022-08-16 18:50] YashKandalkar commented on #266
@Janvi-Thakkar this looks great!

[2022-08-17 17:31] #336 closed

[2022-08-20 05:09] RamGoel commented on #265
Hello @Janvi-Thakkar, this issue has been solved in (#365).

[2022-08-20 05:23] RamGoel opened #366 "Bug: Button Splitting to multiple Lines on window resizing."
### Describe the bug.

The Point Output Table Button is splitting to multiple lines when resizing window.

### Describe the steps to reproduce the behavior.

- Go to the link https://flint-ui.vercel.app/flint/configurations/point
- Resize the window to 350*580 and the button will split to multiple lines.

### Expected behavior.

Instead of the single button spanning to multiple lines, both the but

[2022-08-20 05:34] RamGoel commented on #366
Issue has been Fixed in #367

[2022-08-21 13:02] Janvi-Thakkar commented on #265
@RamGoel That's great! Once that PR gets merged, I would close this issue:)

[2022-08-25 04:41] ItsRoy69 opened #368 "Bug: Alignment and style changes in footer"
### Describe the bug.

When the website is viewed in 414x896 there is some allignment issues in the "site links" and thus is hurting the eyes.

### Describe the steps to reproduce the behavior.

- Go to the link https://flint-ui.vercel.app/
- Resize the window to 414x896 and the button will split to multiple lines

### Expected behavior.

The "Site Links" and "Follow Us On" needs to be aligned or

[2022-08-25 18:56] chicken-biryani commented on #368
Hey, @ItsRoy69 thanks for opening this issue.
Would you like to work on it?

[2022-08-25 19:07] ItsRoy69 commented on #368
For sure

[2022-09-03 16:46] legendarykamal commented on #338
Hey @YashKandalkar @chicken-biryani since this issue had no response for more than a month, I have went ahead and completed it :+1:

[2022-09-03 16:59] chicken-biryani commented on #338
Hey @legendarykamal thanks!
@YashKandalkar can you please take a look?

[2022-09-03 17:00] legendarykamal opened #371 "PR templated needs improvement"
### What is the current documentation state?

_No response_

### Where is this stated?

_No response_

### Why do you want to improve the statement?

![image](https://user-images.githubusercontent.com/95926324/188280908-306ff5d1-7fc2-4a79-a160-3736956b389f.png)

1> The heading looks too vague , If we are filing a PR request , theres no need of it.

2> there are many lines which can be commented to

[2022-09-07 04:01] abhilipsasahoo03 opened #374 "Bug: Stepper overlapping on footer in mobile view"
### Describe the bug.

The Run | Status | Download stepper in GCBM Explore section overlaps on the footer in mobile view.

### Describe the steps to reproduce the behavior.

1. Go to https://flint-ui.vercel.app/gcbm/dashboard or https://flint-ui.vercel.app/gcbm/upload or https://flint-ui.vercel.app/gcbm/run

2. Switch to mobile view or resize the window to 414×896 and the stepper will overlap the

[2022-09-07 13:53] abhilipsasahoo03 commented on #374
Hi @chicken-biryani can you assign me this issue, please?

[2022-09-07 13:54] chicken-biryani commented on #374
@abhilipsasahoo03 please go ahead and work on it

[2022-09-07 15:09] legendarykamal opened #376 "Bug: Non Alignment of text with the accociated image"
### Describe the bug.
Space present , see the vertical alignment.

![image](https://user-images.githubusercontent.com/95926324/188913662-47265ee0-fc98-4e78-8fbd-77f390212b56.png)

![image](https://user-images.githubusercontent.com/95926324/188914282-d21fe2d6-fa23-43da-8bf8-d33301a6ddfc.png)

### Describe the steps to reproduce the behavior.

Go to the landing page

### Expected behavior.

The text

[2022-09-07 17:26] legendarykamal opened #377 "Bug: Updated number of contributors needed in the README"
### Describe the bug.

Currently It shows only 1 contributor which is wrong and we need to update it.

![Screenshot from 2022-09-07 22-52-35](https://user-images.githubusercontent.com/95926324/188941348-1d815491-057f-423c-a893-edf6d42e26db.png)

### Describe the steps to reproduce the behavior.

Go to the https://github.com/moja-global/FLINT-UI

### Expected behavior.

_No response_

### Screensho

[2022-09-08 12:34] #377 closed

[2022-09-09 08:22] #353 closed

[2022-09-09 08:48] #371 closed

[2022-09-09 10:20] rahulsh18 commented on #233
hi @HarshCasper @chicken-biryani is this still being worked on? If not, I'd like to.

[2022-09-09 10:25] chicken-biryani commented on #233
@rahulsh18 we may need some help with the FLINT Handbook... Maybe you could help us with that?

[2022-09-09 11:50] rahulsh18 commented on #233
oh for sure

[2022-09-13 03:34] legendarykamal opened #382 "Bug: The tour dialog box doesn't correspond to the right place"
### Describe the bug.

_No response_

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

Ideally we should have 2 dialogs , one for start date and other for end date .

### Screenshots.

![image](https://user-images.githubusercontent.com/95926324/189801851-19776ffe-9a09-43f4-88d3-984c9b1239c7.png)

### Operating Environment

Linux

### Additional Information

[2022-09-15 18:32] Janvi-Thakkar opened #383 "Feature Request: Change current Navbar with UI-library's Navbar component"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

### Additional context.

reference link: https://moja-global-ui-library.vercel.app/?path=/story/components-navbar--primary-with-other-components

[2022-09-15 18:38] Janvi-Thakkar opened #384 "Feature Request: Replace current accordion component with UI-library's accordion component"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

### Additional context.

The current accordion can be found at: https://flint-ui.vercel.app/flint/configurations/rothc
Ui-library accordion reference link: https://moja-global-ui-library.vercel.app/?path

[2022-09-15 18:50] Janvi-Thakkar opened #385 "Feature Request: Make GCBM simulation editor responsive for screen size below 600px"
### Is your feature request related to a problem? Please describe.

GCBM editor UI looks great for screen sizes above 600px. We can make it better and adaptable for small screens as well!

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

### Additional context.

![image](https://user-images.githubusercontent.com/55620053/190484990-99

[2022-09-15 18:54] Janvi-Thakkar opened #386 "Feature Request: Replace range sliders of FLINT.UI with UI-library's slider component"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

### Additional context.

current slider link: https://flint-ui.vercel.app/flint/configurations/point
reference for UI-library sliders: https://moja-global-ui-library.vercel.app/?path=/story/components-sl

[2022-09-15 20:09] padmajabhol commented on #386
Hi @Janvi-Thakkar , can you please mark this issues and the others as OSD?

[2022-09-15 20:17] #337 closed

[2022-09-15 20:21] chicken-biryani commented on #386
Hey @padmajabhol can you create the label and add it to the issues?

[2022-09-16 05:05] Crystalsage opened #387 "Bug: RothC page crashes if table is displayed before simulation finishes"
### Describe the bug.

When we go to `/flint/configurations/rothc` and click `Run` quickly followed by `Point Output Table` button , the whole thing crashes without any warnings or indicators. We would like to handle this more gracefully.

Refer to bug report #369. The behavior is pretty much the same including the stack trace.

### Describe the steps to reproduce the behavior.

1. Head over to `/

[2022-09-16 05:09] Crystalsage opened #388 "[OSD] Feature Request: Add Email icon to the Footer component"
### Is your feature request related to a problem? Please describe.

Before the Ant Design --> UI library migration, there used to be an icon for email. We'd like for it to come back! :)

You can see the missing icon here:
![image](https://user-images.githubusercontent.com/51860725/190561000-4032bad8-b6f2-48a8-9f22-35e72f553afc.png)

This is what we used to have:
![image](https://user-images.github

[2022-09-16 05:13] Crystalsage opened #389 "[OSD] Bug: Incorrect hyperlinks in the footer"
### Describe the bug.

Currently, we have some social media icons in the footer:
![image](https://user-images.githubusercontent.com/51860725/190561271-b90c4327-1265-4635-94ea-1a4d75f3a2f1.png)

Unfortunately, the hyperlinks for Twitter and Youtube have been interchanged.

### Describe the steps to reproduce the behavior.

1. Scroll down to the footer.
2. Click on Twitter icon - it should lead you

[2022-09-16 05:19] Crystalsage opened #390 "[OSD] Bug: Fix Accordian visual glitch in RothC"
### Describe the bug.

The `Initial conditions of the Soil (initSoil)` accordian key in the RothC simulation uses `input` boxes instead of `textarea`s unlike other keys. This leads to a visual glitch where some input boxes overlap with the next key.

![image](https://user-images.githubusercontent.com/51860725/190561950-85321c52-e865-4471-a82c-af2fca4bf8dd.png)

### Describe the steps to reproduce

[2022-09-16 05:22] Crystalsage opened #391 "Feature Request: Replace current card component with UI-library's card component"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

### Additional context.

The current Card component can be found at: https://flint-ui.vercel.app

![image](https://user-images.githubusercontent.com/51860725/190562400-2c267d02-74c0-42d2-b5b8-2fb0f5d0ac0

[2022-09-16 05:29] Crystalsage opened #392 "Feature Request: Replace current Modal component with UI-library's Modal component - ConfigurationsPoint"
### Describe the solution you'd like.

Replace all of the Modal component instances in `ConfigurationsPoint.vue` only.

### Additional context.

The current Modal component can be found at: https://flint-ui.vercel.app/flint/configurations/point and other places throughout the project.

For Point simulation - run the simulation multiple times with the same pool values and it should trigger.

![imag

[2022-09-16 05:32] Crystalsage opened #393 "Feature Request: Replace current Notifications component with UI-library's Notifications component - ConfigurationsPoint"
### Describe the solution you'd like.

Replace all of the Notification component instances in `ConfigurationsPoint.vue` only.

### Additional context.

The current Notification component can be found at: https://flint-ui.vercel.app/flint/configurations/point and other places throughout the project.

For Point simulation - run the simulation. A success notification should pop up.

![image](https://

[2022-09-16 05:45] Crystalsage opened #394 "[OSD] Feature Request: Replace current Notifications component with UI-library's Notifications component - DatePickerPoint"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

### Additional context.

_No response_

[2022-09-16 05:46] Crystalsage opened #395 "Feature Request: Replace current Notifications component with UI-library's Notifications component - CardInfoRun"
### Describe the solution you'd like.

Replace all of the Notification component instances in `CardInfoRun.vue` only.

### Additional context.

The current Notification component can be found at: https://flint-ui.vercel.app/flint/configurations/point and other places throughout the project.

For Point simulation - run the simulation. A success notification should pop up.

![image](https://user-ima

[2022-09-16 05:47] Crystalsage opened #396 "[OSD] Feature Request: Replace current DatePicker component with UI-library's DatePicker component - DatePicker"
### Describe the solution you'd like.

Replace all of the DatePicker component instances in `DatePicker.vue` only.

### Additional context.

The current Datepicker component can be found at: https://flint-ui.vercel.app/flint/configurations/point and other places throughout the project.

[![image](https://user-images.githubusercontent.com/51860725/190565742-ee72d489-b560-481b-b966-724138b4b7a9.png)

[2022-09-16 05:52] Crystalsage opened #397 "[OSD] Feature Request: Replace current DatePicker component with UI-library's DatePicker component - DatePickerGCBM"
### Describe the solution you'd like.

Replace all of the DatePicker component instances in `DatePickerGCBM.vue` only.

### Additional context.

The current Datepicker component can be found at: https://flint-ui.vercel.app/flint/configurations/point and other places throughout the project.

[![image](https://user-images.githubusercontent.com/51860725/190565742-ee72d489-b560-481b-b966-724138b4b7a9.

[2022-09-16 05:53] Crystalsage opened #398 "[OSD] Feature Request: Replace current DatePicker component with UI-library's DatePicker component - DatePickerRothC"
### Describe the solution you'd like.

Replace all of the DatePicker component instances in `DatePickerRothC.vue` only.

### Additional context.

The current Datepicker component can be found at: https://flint-ui.vercel.app/flint/configurations/point and other places throughout the project.

[![image](https://user-images.githubusercontent.com/51860725/190565742-ee72d489-b560-481b-b966-724138b4b7a9

[2022-09-16 05:55] Crystalsage opened #399 "Feature Request: Replace current DatePicker component with UI-library's DatePicker component - DatePickerPoint"
### Describe the solution you'd like.

Replace all of the DatePicker component instances in `DatePickerPoint.vue` only.

### Additional context.

The current Datepicker component can be found at: https://flint-ui.vercel.app/flint/configurations/point and other places throughout the project.

[![image](https://user-images.githubusercontent.com/51860725/190565742-ee72d489-b560-481b-b966-724138b4b7a9

[2022-09-16 06:03] Crystalsage opened #400 "Feature Request: Replace current Notifications component with UI-library's Notifications component - DatePickerRothC"
### Describe the solution you'd like.

Replace all of the Notification component instances in `DatePickerRothC.vue` only.

### Additional context.

The current Notification component can be found at: https://flint-ui.vercel.app/flint/configurations/point and other places throughout the project.

For Point simulation - run the simulation. A success notification should pop up.

![image](https://user

[2022-09-16 06:04] Crystalsage opened #401 "Feature Request: Replace current Notifications component with UI-library's Notifications component - point.js"
### Describe the solution you'd like.

Replace all of the Notification component instances in `point.js` only.

### Additional context.

The current Notification component can be found at: https://flint-ui.vercel.app/flint/configurations/point and other places throughout the project.

For Point simulation - run the simulation. A success notification should pop up.

![image](https://user-images.git

[2022-09-16 06:05] Crystalsage opened #402 "[OSD] Feature Request: Replace current Notifications component with UI-library's Notifications component - rothc.js"
### Describe the solution you'd like.

Replace all of the Notification component instances in `rothc.js` only.

### Additional context.

The current Notification component can be found at: https://flint-ui.vercel.app/flint/configurations/point and other places throughout the project.

For Point simulation - run the simulation. A success notification should pop up.

![image](https://user-images.git

[2022-09-16 07:29] chicken-biryani commented on #128
.

[2022-09-16 16:24] HarshCasper opened #404 "[OSD] Feature Request: Setup Vue-3 Support in `.devcontainer.json`"
### Is your feature request related to a problem? Please describe.

Install this [extension](https://marketplace.visualstudio.com/items?itemName=Wscats.vue&ssr=false#review-details) `.devcontainer.json`

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

### Additional context.

_No response_

[2022-09-16 16:35] Janvi-Thakkar commented on #398
@Crystalsage, Thank you for adding this issue but PR for the same has already been raised and is yet to merge!
https://github.com/moja-global/FLINT-UI/pull/358

[2022-09-16 17:01] #404 closed

[2022-09-16 17:18] Crystalsage commented on #398
That's quite fine. I'll close this one.

[2022-09-16 17:18] #398 closed

[2022-09-16 19:22] meenakshi-dhanani opened #406 "Documentation: Add min node version for local setup"
### What is the current documentation state?

In [Development Notes](https://github.com/moja-global/FLINT-UI/blob/master/docs/DevelopmentGuide/DevelopmentNotes.rst), the local setup for the UI doesn't mention the min. node version.

### Where is this stated?

https://github.com/moja-global/FLINT-UI/blob/master/docs/DevelopmentGuide/DevelopmentNotes.rst

### Why do you want to improve the statement

[2022-09-17 13:04] MukulKolpe commented on #402
Hey @padmajabhol, can I work on this issue?

[2022-09-17 14:07] chicken-biryani commented on #402
Hey @MukulKolpe go ahead!

[2022-09-18 04:35] abhilipsasahoo03 commented on #406
Hi @chicken-biryani I'd like to work on this!

[2022-09-18 04:42] abhilipsasahoo03 commented on #374
@chicken-biryani I think this issue can be closed since the new UI has been introduced and we can focus on issue #385

[2022-09-18 05:47] #374 closed

[2022-09-18 12:37] rahulsh18 commented on #368
is this still being worked on?

[2022-09-18 12:39] ItsRoy69 commented on #368
I've been busy lately.. 🥲sorry .... I don't want to hold it more time... And almost forgot about this.. you can work

[2022-09-18 12:39] rahulsh18 commented on #383
i'd like to work on this

[2022-09-18 12:40] rahulsh18 commented on #388
i'd like to take this up

[2022-09-18 12:41] rahulsh18 commented on #389
i'd like to take this up

[2022-09-18 12:42] thisiskaransgit commented on #384
I'd like to work on this issue

[2022-09-18 12:47] rahulsh18 commented on #391
hi @Crystalsage @padmajabhol i'd like to take this up

[2022-09-18 12:48] Janvi-Thakkar commented on #384
@thisiskaransgit sure!

[2022-09-18 12:53] Janvi-Thakkar commented on #368
@rahulsh18, Sorry but the footer has been replaced with UI-Library's footer recently. so this issue is no more in the scope!

[2022-09-18 12:53] #368 closed

[2022-09-18 12:54] Janvi-Thakkar commented on #383
@rahulsh18, Please go ahead!

[2022-09-18 13:36] Crystalsage commented on #391
Sure @rahulsh18 . Go ahead! :)

[2022-09-19 10:46] chicken-biryani commented on #389
@rahulsh18 I think it'd be better to - complete the issues already taken up before taking up new ones.

[2022-09-19 11:02] rahulsh18 commented on #389
got it, apologies @chicken-biryani

[2022-09-23 20:19] thisiskaransgit opened #409 "Bug : Accordion Overlapping"
### Describe the bug.

While fixing issue #384, I found that the last component's header overlaps the content of the above component's content when the latter is expanded.

### Describe the steps to reproduce the behavior.

1. Go to https://flint-ui.vercel.app/flint/configurations/rothc
2. Expand the second to last card "**Initial conditions of the Soil (initSoil)**"

### Expected behavior.

The c

[2022-09-23 20:20] thisiskaransgit commented on #409
Can I work on this one?

[2022-09-24 02:15] #128 closed

[2022-09-24 11:58] abhilipsasahoo03 commented on #396
I'd like to work on this @Crystalsage

[2022-09-24 16:12] Crystalsage commented on #396
Hi @abhilipsasahoo03. Go ahead! :)

[2022-09-24 16:15] Crystalsage commented on #409
This is possibly a duplicate of #390. In that case - please close this issue. Once you make a PR with the bugfix, mention #390.

Thanks @thisiskaransgit! :)

[2022-09-24 16:21] thisiskaransgit commented on #409
Sorry, I overlooked the listed issues. I have solved the issue and will create a PR mentioning #390

[2022-09-24 16:21] #409 closed

[2022-09-24 16:24] thisiskaransgit commented on #390
@Crystalsage, could you assign me this issue

[2022-09-24 16:45] Crystalsage commented on #390
I can't but you can work on it. But maybe @chicken-biryani or @Janvi-Thakkar can assign it properly :)

[2022-09-24 16:49] chicken-biryani commented on #390
Yes. Please go ahead and work on it

[2022-09-25 09:13] abhilipsasahoo03 commented on #389
Hi @chicken-biryani @Crystalsage can I work on this?

[2022-09-25 09:31] chicken-biryani commented on #389
@abhilipsasahoo03 yes!

[2022-09-25 16:11] #396 closed

[2022-09-25 16:41] abhilipsasahoo03 commented on #397
Hi @Crystalsage I'd like to work on this issue!

[2022-09-25 16:51] Crystalsage commented on #397
@abhilipsasahoo03 Sure! Go ahead please.

Also, make sure you don't have any outstanding issues before taking up new ones.

[2022-09-25 16:51] abhilipsasahoo03 commented on #397
Yes, I'll make sure!

[2022-09-27 17:53] Timonwa commented on #401
Hi @padmajabhol, can I take up this issue?

[2022-10-02 17:48] #384 closed

[2022-10-03 13:18] #389 closed

[2022-10-04 06:12] padmajabhol commented on #397
@abhilipsasahoo03 are you currently working ongoing issue?

[2022-10-04 06:41] abhilipsasahoo03 commented on #397
@padmajabhol yes I am, I'll create a PR by tonight.

[2022-10-07 19:18] sudojarvis commented on #393
Can i work on this issue?

[2022-10-08 04:19] Crystalsage commented on #393
Yes. Please go ahead @sudojarvis.

[2022-10-08 10:56] Adityasaini10012001 commented on #400
please assign this to me

[2022-10-08 10:57] Adityasaini10012001 commented on #385
assign this to me

[2022-10-08 13:03] thisiskaransgit commented on #394
I'd like to work on this issue

[2022-10-08 15:38] Crystalsage commented on #387
I'll take this up myself.

[2022-10-08 17:14] #357 closed

[2022-10-08 17:53] #266 closed

[2022-10-09 21:44] BboyAkers commented on #392
Hey! Going to work on this PR! Is that okay? 😸

[2022-10-13 16:34] Crystalsage commented on #399
Hi @legendarykamal. Please consider finishing your PR #370 first.

[2022-10-16 10:26] #406 closed

[2022-10-16 11:03] #397 closed

[2022-10-18 15:59] abhilipsasahoo03 commented on #395
@chicken-biryani @Crystalsage I'd like to work on this issue! Kindly assign.

[2022-10-22 13:30] sudojarvis commented on #393
@Crystalsage could you please review the PR?

[2022-11-16 10:00] suhaasya commented on #402
hey @chicken-biryani @Crystalsage can i work on this??

[2022-11-16 13:24] Crystalsage commented on #402
Hi @suhaasya!

Yes, please feel free to open a PR for this issue.

[2022-11-21 15:30] #402 closed

[2022-11-21 20:51] Janvi-Thakkar commented on #391
Hello @rahulsh18, any updates on this issue?

[2022-11-22 11:39] chicken-biryani commented on #401
Hey, @Timonwa I know it's past October... Butt would you still like to work on this?

[2022-11-22 13:43] abhilipsasahoo03 commented on #395
Yeah totally. Sorry I was a bit inactive for few days. I'll work on it!

[2022-11-23 05:32] suhaasya commented on #401
hey @chicken-biryani  if @Timonwa not working on this can i work on it??

[2022-11-23 07:15] chicken-biryani commented on #401
@suhaasya yes please feel free to

[2022-11-24 06:09] suhaasya commented on #401
@Crystalsage @chicken-biryani  can you please review the PR?

[2022-11-25 20:30] Vaani-pathariya commented on #399
Hello ! @Crystalsage , Can I take up this one ??

[2022-11-25 20:46] chicken-biryani commented on #399
@Vaani-pathariya please do!

[2022-11-27 02:08] #366 closed

[2022-11-28 02:04] #265 closed

[2022-11-28 08:42] #401 closed

[2022-11-28 08:43] chicken-biryani commented on #395
Thanks!

[2022-11-30 20:11] Shruti799 commented on #385
I want to work on this issue. Please assign this to me.

[2022-11-30 20:36] Shruti799 commented on #376
Please assign this issue to me.

[2022-11-30 20:48] chicken-biryani commented on #376
@Shruti799 will you be okay with taking up an issue @Crystalsage has created?